@media screen and(max-width: @screen-sm){
	.main_home_title{
		//top: -80vh;	 
		font-size: 31px !important;    
	}
	#main_page_content{
		//top: 95vh;
        form{
            background: transparent;
        }
		input{
			width: 90%;
		}
		button{
			display: block;
			margin: 10px auto;
    		width: 90%;
		}	
		h1{
			font-size: 24px;
		}	
	}	
	.MainApp{
		.container{
			&.more{
				position: relative;
			    width: 100%;
			}
		}
		.app_btn{
			top: 35vh;
			.btn{
				display: block;
				margin: 30px auto;
				display: block;
			    margin: 10px auto;
			    float: none !important;			    
			    color: #fff;			    
			}
		}
		.images_bg_container{
			img{
				display: none;
			}
		}
		.hero_text{
			font-size: 22px;
		}
	}
}
@media screen and(max-width: @screen-md){
	.MainCities{
		.hidden_cities{
			&.open{
				height: 932px;
			}
		}
	}	
}