@media screen and (max-width: @screen-sm){
    .small_marginated_btn{
        margin-left: 0;
        margin-top: 15px;
        padding-left: 0;
        .btn{
            margin-left: 0;
        }
    }
}