@media screen and(max-width: @screen-lg){
	#restaurantPage{
		.mainContainer{
			.claim_block{
				.container{
			    	padding-right: 0;
			    	.col-sm-12{
		    		    position: relative;
    					right: -50px;
			    	}
			    }
			}
		}
	}
}

@media screen and(max-width: @screen-md){
	#restaurantPage{		
		.reservation-form, .reccomendation{
			position: static !important;
			width: 100%;
			margin-top: 10px;
		}	
		.mainContainer{
			.claim_block{
				.container{
			    	padding-right: 0;
			    	.col-sm-12{
		    		    position: static;
    					right: 0;
			    	}
			    }
			}
		}	
	}
}

@media screen and(max-width: @screen-sm){
	#restaurantPage{
		.pageContent{
			.bordered-left{
				border-left: none;
				height: auto;
				margin-top: 12px;
			}
		}
		.left_descriptor{
			text-align: left !important;
		}
		.reservation-form, .reccomendation{
			position: static !important;
		}		
	}
	.linking_btn{
		text-align: center;
		a{
			margin: 5px;
			display: inline-block;
			width: 103px;
    		padding: 8px 0;
		}			
	}
	.restaurant_element{
		.col-sm-10{
			padding: 0;
		}
	}
    .single_service, .single_card{
        i{
            display: inline-block;
            float: left;
        }
        span{
            line-height: 42px;
            float: left;
        }
    }
}
