@media screen and(max-width: @screen-sm){
    #searchPage{
        .list_view{
           .restaurant{
                .img{
                    width: 110px;
                }
                .text{
                    margin-left: 115px;
                    h3{
                       font-size: 14px;
                        margin-top: 8px;
                       text-transform: none;
                       margin-bottom: 0; 
                    }
                    .type{
                        text-transform: none;
                        color: @brand-danger;
                    }
                    .address{
                        font-size: 12px;
                        line-height: 12px;
                        margin-top: 8px;
                    }
                }
            }
            
        }
        .grid_view{
            .restaurant{
                &:hover{
                    .scale(1);
                }
            }
        }
    }
    
}