@media screen and(max-width: @screen-sm){
	#topbar{
	    min-height: 0;
    	padding: 5px 0;
		.logo{
			width: 150px;
			.translate(-75px,0);
			height: auto;
			margin: 5px auto 10px;
			display: block;
		}
		.topbar-navigation{
			margin: 0 10px;
			li{
				&.hide_sm{
					display: none;
				}	
				&.show_sm{
					display: inline-block;
				}		
			}
		}
	} 
	#topbar.fixed {
		padding: 8px 0;
		.logo, #topbar.blue .logo{
			height: auto;
		}
		#nav-icon4{
		    top: 21px;
		}
	}
	#topbar.fixed .logo, #topbar.blue .logo{
		height: auto;
	}
	#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4{
		top: 17px;
	}   
}
// eugenio cefalì