@font-face {
  font-family: 'FrutigerLTStd55Roman';
  src: url('@{icon-font-path}FrutigerLTStd55Roman.eot');
  src: url('@{icon-font-path}FrutigerLTStd55Roman.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}FrutigerLTStd55Roman.woff2') format('woff2'),
       url('@{icon-font-path}FrutigerLTStd55Roman.woff') format('woff'),
       url('@{icon-font-path}FrutigerLTStd55Roman.ttf') format('truetype'),
       url('@{icon-font-path}FrutigerLTStd55Roman.svg#FrutigerLTStd55Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerLTStd65Bold';
  src: url('@{icon-font-path}FrutigerLTStd65Bold.eot');
  src: url('@{icon-font-path}FrutigerLTStd65Bold.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}FrutigerLTStd65Bold.woff2') format('woff2'),
       url('@{icon-font-path}FrutigerLTStd65Bold.woff') format('woff'),
       url('@{icon-font-path}FrutigerLTStd65Bold.ttf') format('truetype'),
       url('@{icon-font-path}FrutigerLTStd65Bold.svg#FrutigerLTStd65Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FrutigerLTStd45Light';
  src: url('@{icon-font-path}FrutigerLTStd45Light.eot');
  src: url('@{icon-font-path}FrutigerLTStd45Light.eot?#iefix') format('embedded-opentype'),
       url('@{icon-font-path}FrutigerLTStd45Light.woff2') format('woff2'),
       url('@{icon-font-path}FrutigerLTStd45Light.woff') format('woff'),
       url('@{icon-font-path}FrutigerLTStd45Light.ttf') format('truetype'),
       url('@{icon-font-path}FrutigerLTStd45Light.svg#FrutigerLTStd45Light') format('svg');
  font-weight: normal;
  font-style: normal;
}