@font-face {
	font-family: "Flaticon";
	src: url("@{icon-font-path}flaticon.eot");
	src: url("@{icon-font-path}flaticon.eot#iefix") format("../../../@{icon-font-path}embedded-opentype"),
	url("@{icon-font-path}flaticon.woff") format("woff"),
	url("@{icon-font-path}flaticon.ttf") format("truetype"),
	url("@{icon-font-path}flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}
.flaticon-award24:before {
	content: "\e000";
}
.flaticon-check56:before {
	content: "\e001";
}
.flaticon-cutlery23:before {
	content: "\e002";
}
.flaticon-flag32:before {
	content: "\e003";
}
.flaticon-fruit69:before {
	content: "\e004";
}
.flaticon-man-silhouette1:before {
	content: "\e005";
}
.flaticon-question3:before {
	content: "\e006";
}
.flaticon-winners3:before {
	content: "\e007";
}

/*

.flaticon-award24:before { // badge
	content: "\e000";
}
.flaticon-check56:before { // confirm
	content: "\e001";
}
.flaticon-cutlery23:before { // posate
	content: "\e002";
}
.flaticon-fruit69:before { // cesto
	content: "\e003";
}
.flaticon-man-silhouette1:before { // walker
	content: "\e004";
}
.flaticon-question3:before { // punto interrogativo
	content: "\e005";
}
.flaticon-winners3:before { // podio
	content: "\e006";
}
.flaticon-flag32:before { // bandiera
	content: "\e003";
}
*/