.not_found{
	background: #fff;
    min-height: 80vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
.notfoundtext{
	font-size: 50px;
    line-height: 76px;
}
.notfoundsorry{
	font-size: 160px;
    margin-top: -50px;
}
.backtohomelink{
	a{
		color: @brand-primary;
	    font-size: 16px;
	    text-transform: uppercase;
	    letter-spacing: 4px;
	    &:hover{
	    	text-decoration: none;
	    }
	}
}