/* Chrome, Safari, Opera */ 
@-webkit-keyframes homeslider {
    0%   {
        .scale(1);
    }
    25%  {.opacity(1)}
    75%  {.opacity(1)}    
    100% {
        .opacity(.3);
        .scale(1.2);
    }
} /* Chrome, Safari, Opera */ 
@-moz-keyframes homeslider { 
    0%   {
        .scale(1);
    }
    25%  {.opacity(1)}
    75%  {.opacity(1)}    
    100% {
        .opacity(.3);
        .scale(1.2);
    }
} /* Chrome, Safari, Opera */ 
@-o-keyframes homeslider {
    0%   {
        .scale(1);
    }
    25%  {.opacity(1)}
    75%  {.opacity(1)}    
    100% {
        .opacity(.3);
        .scale(1.2);
    }
} 

/* Standard syntax */ 
@keyframes homeslider {
    0%   {
    	.scale(1);
    }
    25%  {.opacity(1)}
    75%  {.opacity(1)}    
    100% {
    	.opacity(.3);
    	.scale(1.2);
    }
}

/* SPINNER*/
/* Chrome, Safari, Opera */ 
@-webkit-keyframes spinner {
    0%   {
        content: ""
    }
    25%   {
        content: "."
    }
    50%  {
        content: ".."
    }    
    75% {
        content: "..."
    }
    100% {
        content: "...."
    }
} /* Chrome, Safari, Opera */ 
@-moz-keyframes spinner {
     0%   {
        content: ""
    }
    25%   {
        content: "."
    }
    50%  {
        content: ".."
    }    
    75% {
        content: "..."
    }
    100% {
        content: "...."
    }
} /* Chrome, Safari, Opera */ 
@-o-keyframes spinner {
     0%   {
        content: ""
    }
    25%   {
        content: "."
    }
    50%  {
        content: ".."
    }    
    75% {
        content: "..."
    }
    100% {
        content: "...."
    }
} 

/* Standard syntax */ 
@keyframes spinner {
     0%   {
        content: ""
    }
    25%   {
        content: "."
    }
    50%  {
        content: ".."
    }    
    75% {
        content: "..."
    }
    100% {
        content: "...."
    }
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes box_enter {
    0%   {
        opacity: 0;
        -ms-transform: translateY(-30px); /* IE 9 */
        -webkit-transform: translateY(-30px); /* Chrome, Safari, Opera */
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0); /* IE 9 */
        -webkit-transform: translateY(0); /* Chrome, Safari, Opera */
        transform: translateY(0);
    }
} /* Chrome, Safari, Opera */ 
@-moz-keyframes box_enter {
    0%   {
        opacity: 0;
        -ms-transform: translateY(-30px); /* IE 9 */
        -webkit-transform: translateY(-30px); /* Chrome, Safari, Opera */
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0); /* IE 9 */
        -webkit-transform: translateY(0); /* Chrome, Safari, Opera */
        transform: translateY(0);
    }
} /* Chrome, Safari, Opera */ 
@-o-keyframes box_enter {
    0%   {
        opacity: 0;
        -ms-transform: translateY(-30px); /* IE 9 */
        -webkit-transform: translateY(-30px); /* Chrome, Safari, Opera */
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0); /* IE 9 */
        -webkit-transform: translateY(0); /* Chrome, Safari, Opera */
        transform: translateY(0);
    }
} 

/* Standard syntax */ 
@keyframes box_enter {
    0%   {
        opacity: 0;
        -ms-transform: translateY(-30px); /* IE 9 */
        -webkit-transform: translateY(-30px); /* Chrome, Safari, Opera */
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0); /* IE 9 */
        -webkit-transform: translateY(0); /* Chrome, Safari, Opera */
        transform: translateY(0);
    }
}