.label--checkbox {
  position: relative;
  margin: .5rem;
  line-height: 135%;
  cursor: pointer;
  font-weight: normal;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  cursor: pointer;
      display: inline-block;
    margin-right: 15px !important;
    top: -5px;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 20px;
    height: 20px;
  border: 2px solid #f2f2f2;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 10px;
  top: 1px;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 20px;
    height: 20px;
  background: #fff;
  cursor: pointer;
}