.plan_container{
	padding: 50px 0; 
}
.clients_container{
	min-height: 200px;
	padding: 50px 0;
    background: #fdfdfd;
}
.adding_li{
	position: relative;
	.client_btns_container{
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 10px;
		a{
			border: 1px solid;
			.transition(all ease-in-out .2s);
			padding: 7px 10px;
		    text-transform: uppercase;
		    font-size: 10px;
			&.client_btn_confirm{
				border-color: @brand-success;
				color: @brand-success;
				&:hover{
					background: @brand-success;
					color: #fff;
					text-decoration: none;
				}
			}
			&.client_btn_annulla{
				border-color: @brand-danger;
				color: @brand-danger;
				&:hover{
					background: @brand-danger;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}
.pagination{
	li{
		display: inline-block;
		width: 30px;
	    height: 30px;
	    line-height: 30px;
	    text-align: center;
		margin: 1px;
		background: #fff;
		.transition(all ease-in-out .2s);
		color: @brand-primary;
		&:hover{
			background: darken(@brand-primary,5%);
			color: #fff;
		}
		&.active{
			background: @brand-primary;
			color: #fff;
		}
	}
}

.scheda_cliente{
	text-align: center;
    margin: 39px 0;
    background: #fff;
    padding: 50px 10px;
    border-bottom: 1px solid #e4e4e4;
		    border-right: 1px solid #e4e4e4;
	.image_avatar{
		img{
			width: 150px;
    		height: 150px;
    		.border-radius(50%);
		}
	}
	.number_reservation{
		font-size: 30px;
	}
	.p_reservations{
		text-transform: uppercase;
	    letter-spacing: 2px;
	    font-size: 10px;
	}
	.reservation_date{
		line-height: 48px;
    	font-size: 20px;
    	color: @brand-primary;
	}
}