.ngdialog.ngdialog-theme-default {
	.ngdialog-content{
		background: #fff;
		padding: 20px 40px;
		h3{
			line-height: 150%;
		    font-size: 22px;
		    text-transform: uppercase;
		    font-weight: bold;
		}
		form{
			label{
				text-transform: uppercase;
			}
			[type="checkbox"]{
				width: 16px;
				display: inline-block;
			    position: relative;
			    top: -4px;
			}
			.btn{
				width: 100%;
			    text-transform: uppercase;
			    padding: 16px;
			    font-size: 16px;
			    font-weight: bold;
			}
		}
        .restaurant_image_container{
            background-size: cover;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            margin-bottom: 20px;
            margin-right: 20px;
            float: left;
        }
	}
}
.ngdialog{
	&.small{
		.ngdialog-content{
			width: 550px;
			max-width: 90%;
		}
	}
	&.orari{
		.ngdialog-content{
			width: 600px;
		}
	}
	&.medium{
		.ngdialog-content{
			width: 800px;
			max-width: 90%;
		}
	}
	&.ngdialog-theme-default{
		.ngdialog-content{
			.left-col{
				img{
					margin: auto;
    				display: block;
				}
				text-align: center;
			}
			h3{
				font-size: 14px;
				letter-spacing: 3px;
				.light{
					color: @gray-light;
				}
			}
			p{
				font-size: 13px;
			}
			
			.link_btn{
				text-transform: uppercase;
    			font-size: 11px;
    		}
    		.check{
    			input{
    				position: relative;
    				top: -2px;
    			}			    
    			span{
    				font-size: 11px;
    			}
    			margin-bottom: 0;
    		}
		}
	}
}