.editing_profile_restaurant{
	min-height: 100vh;
	background-color: #fff;
	.save_btn{
		position: fixed;
		z-index: 2;
		bottom: 10px;
		left: 10px; 
		a{
			background: #fff;
		}
		&:hover{
			a{
				background: @brand-primary;
			}
		}
	}
	.main_image{
		min-height: 50vh;
    	height: 50vh;
		position: absolute;
		background-size: cover;
    	width: 100%;
    	.overlay{
    		width: 100%;
    		height: 100%;
    		position: absolute;
    		background: rgba(0,0,0,.6);
    	}
    	&.relative{
    		position: relative;
    		height: auto;
    		//padding-bottom: 12vh;
    		padding-bottom: 0;
    		.main_container{
    			height: auto;
    		}
    		.main_section_menu{
    			position: relative;
    			.translate(0,0);
    			//top: 15vh;
    			padding: 150px 0 100px;
    		}
    	}
	}
	.main_container{
	    min-height: 50vh;//625px;
    	height: 50vh;
		position: relative;
		.main_section_menu{
			width: 100%;
			position: relative;
			//padding-top: 115px;
			width: 100%;
			top: 50%;
			.translate(0,-50%);
			.container_el{
				width: 16.66%;
				padding: 10px;
				text-align: center; 
				display: inline-block;
    			float: left;
			}
			a{
				text-decoration: none;
				&:hover{
					*{
						text-decoration: none;
					}					
				}
				i{
					display: block;
					width: 80px;
					height: 80px; 
					margin: 10px auto;
					.border-radius(50%);
					border: 1px solid #fff;
					line-height: 82px;
					text-align: center;
					color: #fff;
					font-size: 40px;
					.transition(all ease-in-out .2s);
					&[class^="mebi-"]{
						line-height: 87px;
					}

				}
				span{
					display: block;
					color: #fff;
					margin: auto;
					text-transform: uppercase;
				    text-align: center;
				    .transition(all ease-in-out .2s);
				}
				&:hover{
						i{
							.translate(0,-5px);
						}
						span{
							.translate(0,5px);
						}
					}
				&.current{
					i{
						color: @brand-primary;
					}
					span{
						color: @brand-primary;
					}
				}
			}
		}
		.restaurantTitle{
			width: 100%;
			position: absolute;
			bottom: 0;
			h1{
				span{
					color: #fff;
				}
				input{
					color: #fff;
				}
				margin-bottom: 2px;
				i{
					font-size: 15px;
					position: relative;
					top: -5px;
					.transition(all ease-in-out .15s);
					&:hover{
						color: @brand-primary;
					}
				}
			}
			.restaurant_top_infos{
				small{
					font-size: 14px;
					text-transform: uppercase;
					color: #fff;
					i{
						color: #fff;
						font-size: 12px;
						cursor: pointer;
						.opacity(0);
						.translate(-20px,0);
						.transition(all ease-in-out .3s);
						&:hover{
							color: @brand-primary;
						}
					}
					&:hover{
						i{
							.opacity(1);
							.translate(0,0);

						}
					}
				}
				margin-bottom: 10px;
				
			}
			
		}
	}

	.white_container{
		padding: 20px 0;
		&.user_profile{
			padding-bottom: 0;
		}
		.edit_fields_title{
			padding-top: 20px;
			margin-bottom: 20px;
		}
		.activated_input{
		    display: inline-block;
    		margin: 10px 0;
    		line-height: 28px;
    		margin-bottom: 0;
    		margin-top: 0;
    		max-width: 100%;  
		}
		.phones_list{
		    padding-left: 33px;
    		margin-top: 8px;
    		i{
    			font-size: 10px;
    			&:hover{
    				color: @brand-danger;
    			}
    		}
		}
		i{
			width: 30px;
			text-align: center;
			display: inline-block;
		}
		.restaurant-social{
			margin-top: 7px;
			a{
				display: inline-block;
				&:first-child{
					margin-left: -10px;
				}
				width: 30px; height: 30px;
				line-height: 30px;
				margin-right: 1px;
				text-align: center;
				i{
					color: @gray;
					.opacity(.7);
					line-height: 30px;
					font-size: 18px;
					.transition(all ease-in-out .15s);
				}
				&:hover{
					i{
						.opacity(1);
						&.fb{
							color: @color-fb;
						}
				        &.tw{
				        	color: @color-tw;
				        }
				        &.tr{
				        	color: @color-tr;
				        }
				        &.pi{
				        	color: @color-pi;
				        }
				        &.yt{
				        	color: @color-yt;
				        }
				        &.in{
				        	color: @color-in;
				        }
				        &.li{
				        	color: @color-li;
				        }
				        &.gp{
				        	color: @color-gp;
				        	}
					}
				}
			}
		}
	}

	.grey_container{
		background: #f6f6f6;
		padding-top: 50px;
	}
	.big_text{
		margin-top: 12px;
	}
	.edit{
		background: #fff;
	    padding: 15px 0;
	    margin-bottom: 15px;
	    font-size: 14px;
		.box-shadow(0 0 1px -1px);
		h3{
			margin-left: 13px;
		    text-transform: uppercase;
		    font-size: 14px; 
		}
	}
	.notEdit{
		margin-bottom: 15px;
		font-size: 14px;
		h3{
			margin-left: 13px;
		    text-transform: uppercase;
		    font-size: 14px;
		}
	}
	.activated_input{
		background: transparent;
		min-width: 100px !important;
		.box-shadow(none);
		border: none;
		outline: none;
		border-bottom: 2px solid @gray-light;
		&.full{
			width: 100%;
		}
		&:focus{
			border-color: @brand-primary;
		}
	}
	.primary{
		padding: 15px;
		display: block;
		border: 2px solid @gray-dark;
		margin-bottom: 20px;
		&.drag_over{
			border-color: @brand-success;
		}
	}
	.single_service{
		height: 150px;
    padding: 15px 0;
	}
	.images_gallery{
		.p_image{
			border: 2px solid @gray-dark;
			position: relative; 
			.overlay{
				.opacity(0);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0,0,0,.6);
				.txt_overlay{
					color: #fff;
					position: absolute;
					width: 200px;
					text-align: center;
					text-transform: uppercase;
					border: 2px solid #fff;
					padding: 15px;
					position: absolute;
					top: 50%;
					left: 50%;
					.translate(-100px,-50%);
				}
			}
			&.drag_over_primary{
				.overlay{
					.opacity(1);
				}
			}
			.cover{
				width: 100%;
				height: 300px;
				background-size: cover;
				background-position: center; 
			}
		}
		.gallery{
			.single_img_gallery{
				width: 50%;
    			float: left;
    			padding-right: 1px;
    			padding-top: 1px;
    			overflow: hidden;
    			.image_actions{
    				position: absolute;
    				bottom: 0;
    				left: 0;
    				height: 50px;
    				background: rgba(0,0,0,.6);
    				width: 100%;
    				.transition(all ease-in-out .3s);
    				.translate(0,50px);
    				i{
    					color: #fff;
    					width: 48%;
					    text-align: center;
					    line-height: 50px;
					    font-size: 22px;
					    .transition(all ease-in-out .3s);
					    &:hover{
					    	.scale(1.2);
					    	color: @brand-danger;
					    }
    				}
    			}
    			&:hover{
    				.image_actions{
    					.translate(0,0);
    				}
    			}
			}
			.single_img{
				width: 100%;
				height: 195px;
				background-size: cover;
				background-position: center; 
				margin: 0;
			}
		}		
	}
	h3{
		font-size: 18px;
	}
	.gallery_buttons{
		&.fixed_btn{
			position: fixed;
		    top: 70px;
		}
		i{
			width: 80px;
			height: 80px;
			margin: auto;
			.border-radius(50%);
			border: 1px solid @gray-dark;
			line-height: 80px;
			text-align: center;
			color: @gray-dark;
			display: block;
			font-size: 30px;
			.transition(all ease-in-out .3s);
			&.drag_over_trash{
				color: @brand-danger;
				border-color: @brand-danger;
				.scale(1.3);
			}
			&.drag_over_primary{
				color: @brand-success;
				border-color: @brand-success;
				.scale(1.3);
			}
		}
		.upload{
			&:hover{
				.fa-upload{
					background-color: @brand-primary;
					border-color: @brand-primary;
					color: #fff;
				}
			}
			height: 80px;
			margin-top: 20px;
			position: relative;
			input{
				position: relative;
			    top: -80px;
			    width: 80px;
			    height: 80px;
			    .opacity(0);
			    margin: auto;
			    display: block;
			    cursor: pointer;
			} 
		}
		.primary_set{
			margin-top: 20px;
		}
	}
	
    
    .single_table{
        width: 150px;
        margin: auto;
        height: 145px;
        border: 1px solid @gray-light;
        text-align: center;
        line-height: 145px;
        position: relative;
        .border-radius(50%);
        .table_num{
            font-size: 85px;
            font-weight: 100;
        }
        .table_posti{
            position: absolute;
            bottom: -26px;
            right: 18px;            
    		bottom: -30%;
    		right: 24%;
        }
    }
	
	.fasce_orarie_block{
		margin-bottom: 40px;
	}
	.sala_input{
		border: none;
		width: 300px;
		margin: 50px auto;
		text-transform: uppercase;
		display: block;
	    text-align: center;
	    font-size: 38px;
	}
	.table_actions{
		padding-top: 10px;
		i{
			.transition(all ease-in-out .15s);
		}
		&:hover{
			i{
				.scale(1.5);
			}
		}
	}
	.table_parent{
		.single_table{
			.transition(all ease-in-out .15s);
		}
		&.drag-over-accept{
			.single_table{
				.scale(1.1);
				border-color: @brand-success;
			}
		}
	}

	.hero_menu{
		h3{
			font-size: 25px;
		    margin: 30px auto;
	    }
	    p{

	    }
	}
	
	.single_edit_plate_image{
			width: 100%;
			height: auto;
			.border-radius(50%);
		}
	.single_plate_container{
		margin: 50px auto;
		background: #fff;
	}
	textarea{
		resize: none;
	}
	.category_list_view{
		span{
			color: @gray-light;
			.transition(all ease-in-out .15s);
			margin: 0 15px;
			&:first-child{
				margin-left: 30px;
			}
			&:hover{
				color: @gray;
			}
		}
	}
	.angular-tagger{
		width: 100%;
	}
	.adding_btn{
		line-height: 26px;
		padding: 5px 10px 7px;
		i{
			font-size: 22px;
			position: relative;
		    top: 6px;
		    line-height: 3px;
		    &.mebi-close{
		    	font-size: 12px;
				top: 2px;
		    }
		}
		&.btn-danger{
			border: 1px solid @brand-danger;
			color: @brand-danger;
			background: #fff;
			line-height: 19px;
			padding: 11px 28px 10px 10px;
			&:hover{
				color: #fff;
				background: @brand-danger;
			}
		}
	}
	.upload_in_plate{
		.opacity(0);
		height: 100%;
		width: 100%;
		position: absolute;
		cursor: pointer;
	}
	.plate_image_container{
		position: relative;
		cursor: pointer;
		i{
			font-size: 40px;
		    display: block;
		    text-align: center;
		    width: 100%;
		    line-height: 104px;
		    cursor: pointer;
		}
		&:hover{
			i{
				color: @brand-primary;
			}
		}
	}
	.marginated_top{
		margin-top: 20px;
	}
	.move_sort_icon{
	    font-size: 40px;
	    display: block;
	    text-align: center;
	    width: 100%;
	    line-height: 104px;
	    cursor: pointer;
	    color: @gray-light;
	    .transition(all ease-in-out .15s);
	    cursor: move;
	    &:hover{
	    	color: @gray;
	    }
	}
	.margin-big-vertical{
		margin: 30px auto;
	}
	.highlighted{
		padding: 40px 0;
    	background: rgba(0, 180, 204, 0.15);
	}
}
.menu_add_by_step{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(255,255,255,.95);
		.translate(-100vw,0);
		.transition(all ease-in-out .2s);
		&.open{
		    z-index: 10;
			.translate(0,0);
		}
		.content_menu_adding{
			//position: absolute;
			font-size: 18px;
			//top: 50%;
			//left: 50%;
			width: 95vw;
			max-width: 800px;
			margin: 10vh auto;
			//.translate(-50%,-50%);
			h3{
				margin: 20px;
				font-size: 25px;
			}
			.simple_border_input{
				border: none;
			    border-bottom: 2px solid @gray;
			    margin: 40px auto;
			    width: 80%;
			    min-width: 300px;
			    text-align: center;
			    font-size: 18px;
			    background: transparent;
			    .transition(all ease-in-out .15s);
			    &:focus{
			    	border-color: @gray-dark;
			    }
			}
			.options_selections{
				a{
					color: lighten(@gray,10%);
					text-transform: uppercase;
				    margin: 20px 10px;
				    display: inline-block;
				    width: 150px;
					.transition(all ease-in-out .15s);
					&:hover{
						color: @gray-dark;
						text-decoration: none;
					}
				}
			}
			hr{
			    height: 8px;
			    width: 150px;
			    background: @gray-light;
			    border: none;
			}
			.fixed_price{
			    margin: 30px auto;
				i{
					display: block;
				    font-size: 50px;
    				margin-bottom: -16px;
				    color: @gray-light;
				    .transition(all ease-in-out .15s);
				}
				&.fixed_selected{
					i{
						.scale(.8);
						color: @brand-success;
					}
				}
			}

			.price-input{
				border: none;
			    text-align: center;
			    background: transparent;
			    font-size: 40px;
			}
			.add_plate_image_container{
			    width: 200px;
			    height: 200px;
			    margin: 20px auto;
			    text-align: center;
			    position: relative;
			    i{
		    	    line-height: 234px;
    				font-size: 132px;
			    }
			    &:hover{
					i{
						color: @brand-primary;
					}
				}
			    input{
			    	width: 200px;
			    	height: 200px;
			    	position: absolute;
			    	top: 0;
			    	left: 0;
			    	.opacity(0);
			    	cursor: pointer;
			    }
			    img{
		    	    width: 200px;
				    height: 200px;
				    .border-radius(50%);
			    }
			}
			.plate_name{
				min-width: 250px;
			}
			textarea{
				border: none;
			    border-bottom: 2px solid @gray-light;
			    resize: none;
			    width: 80%;
			    outline: none;
			    background: transparent;
			    margin-bottom: 20px;
			}
		}	
		.menu_step_close{
			font-size: 28px;
			position: absolute;
			top: 10px;
			right: 30px;
			.transition(all ease-in-out .15s);
			&:hover{
				color: @brand-primary;
			}
		}	
	}
.restaurant_social_modal{
	.form-group{
		&.with-addon{
			    height: 50px;
			.form-control{
				padding-left: 52px;
			}
			.input-addon{
				position: relative;
			    left: 0;
			    top: -43px;
			    button{
			    	height: 48px;
    				width: 48px;
			    }
			}
		}
	} 
}



.pax_table_group{
	text-align: center;
    margin: 35px auto;
	label{
		display: block;
	}
	.pax_table_input{
		width: 100px;
	    height: 100px;
	    margin: auto;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 30px;
	    line-height: 100px;
	}
	.icon{
		display: block;
	    margin: auto;
	    line-height: 100px;
	    width: 100px;
	    text-align: center;
	    font-size: 42px;
	    color: @brand-primary;
	    &:active{
	    	color: @brand-success;
	    }
	}
}

.orari_ristorante{
	.size-small{
		font-size: 14px;
	}
	li,p{
		i{
			.opacity(0);
			.transition(all ease-in-out .3s);
			font-size: 12px;
		}
		&:hover{
			i{
				.opacity(1);
			}
		}
	}
}



@media screen and (max-height: 800px){
	#edit-restaurant-page{
		.menu_add_by_step{
			overflow-y: scroll;
			z-index: 9999999;
			.content_menu_adding{
			    margin-top: 100px;
			    top: 0; left: 0;
			    position: static;
			    .translate(0,0);
			}
		}
	}
}

@media screen and (max-width: 780px){
	.editing_profile_restaurant .main_container .main_section_menu .container_el{
		width: 33.3%;
	}
}
@media screen and (max-width: 550px){
	.editing_profile_restaurant .main_container .main_section_menu .container_el{
		width: 50%;
	}
	.editing_profile_restaurant .images_gallery .gallery .single_img_gallery{
		width: 100%;
	}
}