footer{
	background: @brand-primary;
    position: relative;
    z-index: 1;
    padding: 30px 0 10px;
    * {
    	color: #fff;
    }
    h3{
    	font-size: 14px;
        letter-spacing: 3px;
    }
    ul{
    	list-style: none;
    	padding-left: 0;
    	li{
    		a{
    			.transition(all ease-in-out .2s);
    			&:hover{
    				text-decoration: none;
    				border-bottom: 1px solid #fff;
    				color: #fff;
    			}
    		}
    	}
    }
    .social-icon{
    	i.fa{
			background: #fff;
		    color: @brand-primary;
		    font-size: 18px;
		    width: 30px;
		    height: 30px;
		    line-height: 30px;
		    text-align: center;
		    cursor: pointer;
            margin: 1px;
            margin-left: -2px;
		    .transition(all ease-in-out .3s);
		    &:hover{
		    	color: #fff;
		    	background: @brand-warning;
		    	.scale(1.1);
		    }
		}
    }
    .info-azienda{
    	margin-top: 30px;
    }
    .form-control{
    	.opacity(.5);
    	.transition(all ease-in-out .3s);
    	line-height: 42px;
    height: 42px;
    	&:focus{
    		.opacity(1);
    	}
    }
}