.gm-style-iw{
	top: 0;
}
.google-info-window{
	min-height: 80px;
    min-width: 235px;
	position: relative;
    top: -9px;
	img{
		width: 80px;
	    height: auto;
	    .border-radius(50%);
	    float: left;
	    margin-right: 18px;
	}
	.map_text{
		position: relative;
    	top: 11px;
	}
}