.section{
	position: relative;
	z-index: 2; // 1 è la fissa di bg
}
.main_home_title{
	/*position: relative;
	height: 0;
    top: -60vh;*/
    margin: 0 auto;
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    /*font-size: 52px;
    line-height: 150%;*/
    font-weight: 900;
    font-size: 50px;
}
.fixed_bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background-size: cover;
	background-position: center;
}
#home_images{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	//max-height: 800px;
    //height: 600px;
	position: relative;
	overflow: hidden;
	.first-section-overlay{
		background: rgba(0,0,0,.5);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
    video{
        position: absolute;
        bottom: 0;
        min-height: 100vh;
        min-width: 100vw;
    }
	.image-container{
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		.opacity(0);
		.rotate(0);
		.scale(1);
		.transition(all ease-in 3s);
		&.active{
			.opacity(0);
			.scale(1);
			-webkit-animation: homeslider 10s; /* Safari 4+ */
			-moz-animation:    homeslider 10s; /* Fx 5+ */
			-o-animation:      homeslider 10s; /* Opera 12+ */
			animation:         homeslider 10s; /* IE 10+, Fx 29+ */
			animation-delay: 0;
			//.transition(homeslider ease-in 8s);
			/*.opacity(1);
			.opacity(1);

			-moz-transform: rotate(-2deg) scale(1.2);
			-webkit-transform: rotate(-2deg) scale(1.2);
			-ms-transform: rotate(-2deg) scale(1.2);
			transform: rotate(-2deg) scale(1.2);*/
		}
	}
}
.MainImages{
	#main_page_link_footer{
		position: absolute;
    	bottom: 0;
	    width: 100%;
    	height: 130px;
    	padding-top: 13px;
    	text-align: center;
    	b{
    		font-weight: 700;
    		color: #fff;
    	}
    	color: #fff;
    	background: rgba(0,0,0,.3);
    	object{
    		height: 60px;
    		width: auto;
    		*{
    			color: #fff !important;
    			fill: #fff !important;
    		}
    	}
	}
	.app_buttons{
		text-align: center;
		margin-top: 100px;
		img{
			width: 130px;
		}
	}
}
#main_page_content{
	position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 300px;
    top: 55%;
    .translate(0,-150px);
    /*
	position: absolute;
    //top: 20vh;
    //top: 55%;
    margin: auto;
    text-align: center;
    width: 100%;*/
    h1{
    	color: #fff;
    	font-weight: 900;
    	font-size: 50px;// non gli piace 30px;
	    -webkit-font-smoothing: antialiased;
	    // added by Carnevali
	    margin-bottom: 20px;
    	/*&:after{
    		display: block;
    		content: "";
    		width: 100px;
    		margin: 20px auto;
    		background: @brand-primary;
    		height: 3px;
    	}*/
    	b{
    		display: inline-block;
		    position: relative;
		    height: 40px;
		    overflow: hidden;
		    top: 17px;
    		&.second{
    			span{
    				.translate(0,-40px);
    				margin-bottom: 3px;
    			}
    		}
    		&.first{
    			width: 75px;
    			span{
    				position: relative;
    				top: -5px;
    				margin-bottom: 5px;
    			}
    		}
    		span{
    			display: block;
    			.transition(all ease-in-out .5s);
    		}
    	}
    }
    .action_list{
    	list-style: none;
    	padding-left: 0;
    	width: 350px;
    	margin: auto;
    	li{
    		display: inline-block;
    		color: #fff;
    		text-transform: uppercase;
    		margin: 0 10px;
    		outline: none;
    		cursor: pointer;
    		font-size: 14px;
    		span{
    			border: 2px solid @brand-primary;
    			.transition(all ease-in-out .1s);
    			background: transparent;
    			width: 20px;
    			height: 20px;
    			display: inline-block;
    			.scale(.8);
    			.border-radius(50%);
    			position: relative;
    			top: 5px;
    		}
    		&.active{
    			span{
    				background: @brand-primary;
    				.scale(1);
    			}
    		}
    	}
    }
    form{
        //position: absolute;
        //bottom: 0;
        width: 100%;
        //background: rgba(0,0,0,.4);
        padding: 25px;
    }
    input{
    	background-image: none;
	    width: 590px;
	    max-width: 90%;
	    box-shadow: none;
	    border: none;
        padding: 0;
	    line-height: 43px;
        padding-left: 22px;
	    outline: none;
    }
    button{
    	padding: 11px 17px;
    	padding-button: 11px;
	    position: relative;
	    //padding: 15px;
	    border: none;
	    border-bottom: 1px solid @brand-primary;
	    text-transform: uppercase;
	    font-weight: 700;
	    color: #fff;
	    background: @brand-primary;
    }
    .center_home_text{
    	text-align: center;
	    line-height: 1;
	    margin: 0;
    }
    .menoo_image_logo{
    	height: 40px;
    	width: auto;
    	display: block;
    	margin: auto;
    }
}

.MainCities{
	background: #fff;
    padding-top: 30px;
    h2{
    	text-align: center;
    	font-size: 22px;
    	text-transform: uppercase;
    	margin-bottom: 30px;
    }
	.col-md-3{
		padding: 1px;
	}
	.city_container{
		background-size: cover;
		background-position: center;
		height: 300px;
		width: 100%;
		margin: auto;
		position: relative;
		.overlay{
			background: rgba(0,0,0,.2);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		h3{
			color: #fff;
		    position: absolute;
		    bottom: 0;
		    left: 10px;
		    font-size: 18px;
		    text-transform: uppercase;
		    font-family: @font-family-sans-serif;
		    font-weight: 700;
		}
	}
	.hidden_cities{
		height: 0;
		overflow: hidden;
		margin-bottom: 30px;
		.transition(all ease-in-out .3s);
		&.open{
			height: 158px;
		}
	}
	.open_cities_link{
		color: @gray;
		font-size: 16px;
		margin-top: 30px;
		margin-bottom: 15px;
		text-transform: uppercase;
		cursor: pointer;
		display: block;
		text-decoration: none;
		text-align: center;
		i{
			.transition(all ease-in-out .3s);
		}
		&:hover{
			i{
				.translate(0,10px);
			}
		}
	}
	.col-md-2{
		padding: 1px;

		.city_container{
			height: 150px;
			h3{
				font-size: 18px;
			}
		}
	}
}

.MainApp{
	padding-top: 30px;
	overflow: hidden;
	h2{
		color: #fff;
	}
	.overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.6);
	}
	.images_bg_container{
		position: relative;
	    width: 100vw;
	    height: 70vh;
	    margin-bottom: -30vh;
	    text-align: center;
    	img{
    		width: 50%;
    		max-width: 644px;
    	}
	}
	.title-container{
		position: relative;
		h2{
			text-align: center;
			font-size: 20px;
    		margin-top: 30px;
		}
	}
	.hero_text{
		font-weight: 700;
    	font-size: 40px;
    	text-align: center;
    	color: #fff;
	}
	.top-image{
		z-index: 3;
	}
	.bottom-image{
		z-index: 2;
	}
	.app_btn{
		margin-bottom: -10vh;
		top: 30vh;
		z-index: 2;
		position: absolute;
    	width: 100%;

	}
	.center{
		text-align: center;
	    margin-top: 30px;
	    position: absolute;
	    width: 100%;
	    overflow: hidden;
	    z-index: 2;
	    img{
	    	margin-bottom: 2vh;
	    	max-width: 30vw;
	    	height: auto;
	    }
	}
	.container{
		&.more{
			width: 1200px;
		}
	}
}