.login_page_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	.overlay{
		background: rgba(0,0,0,.6);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
	}
	.login_form_bar{
		position: absolute;
		z-index: 2;
		top: 0; left: 0;
		width: 400px;
		max-width: 100%;
		padding: 10px 50px 50px;
		height: 100vh;
		background: #fff;
		h3{
			font-weight: 900;
		}
	}
	.login_page_content{
		position: relative;
		z-index: 1;
		left: 0; 
		padding-left: 450px;
		width: 100%;
		top: 20vh;
		p{
			font-size: 21px;
			margin-top: 30px;
			color: #fff;
		}
	}
	.login-btn{
		padding: 16px;
	    font-weight: 900;
	    text-transform: uppercase;
	    font-size: 16px;
	}
}