.white_page_login{
	background: #fff;
    width: 100vw;
    padding-top: 150px;
    padding-bottom: 80px;
    h3{
    	margin: 20px auto;
    	font-size: 18px;
	    text-transform: uppercase;
	    line-height: 130%;
	    letter-spacing: 2px;
    }
}
.log_panel{
	max-width: 450px;
    margin: auto;
	padding: 12px 40px;
	h3{
		line-height: 150%;
	    font-size: 14px !important;
		letter-spacing: 3px !important;
	    text-transform: uppercase;
	    font-weight: bold;
	    text-align: center;
	}
}
.social-log-container{
    text-align: center;
	i{
		width: 40px;
	    height: 40px;
	    color: #fff;
	    text-align: center;
	    font-size: 20px;
	    line-height: 40px;
	    .border-radius(50%);
	    .opacity(.7);
	    .transition(all ease-in-out .15s);
	    &:hover{
	    	.opacity(1);
	    }
		&.fa-facebook{
			background: @color-fb;
		}
		&.fa-twitter{
			background: @color-tw;
		}
		&.fa-linkedin{
			background: @color-li;
		}
	}
}