body{
	background: @gray-dark;
	width: 100%;
	overflow-x: hidden;
}
body *{
	-webkit-font-smoothing: antialiased;
}
div.phpdebugbar a, div.phpdebugbar-openhandler{
	position: fixed;
	bottom: 0;
}
.bolder{
	font-weight: 900;
	font-family: @font-family-base;
}
.big{
	font-size: 30px;

}
.form-control{
	.box-shadow(none);
	margin-bottom: 26px;
    padding: 0 12px;
	margin-bottom: -5px;
	line-height: 24px;
	height: 48px;
    border: 2px solid @gray-light;	
    &.error{
    	border-color: @brand-danger;
    }
    .transition(all ease-in-out .3s);
    &:focus{
    	.box-shadow(none);
    	outline: none;
    	border-color: @brand-primary;
    }
}

.margin-auto {
	margin: auto;
}

.btn{
	.box-shadow(none);
	border: none;
	.transition(all ease-in-out .3s);
	&.disabled, &[disabled]{
		color: #fff;
	}
}
.spinner{
	&:after{
		display: block;
		content: "";
		width: 30px;
		height: 20px;
		font-size: 20px;
		-webkit-animation: spinner 1.5s infinite; /* Safari 4+ */
		-moz-animation:    spinner 1.5s infinite; /* Fx 5+ */
		-o-animation:      spinner 1.5s infinite; /* Opera 12+ */
		animation:         spinner 1.5s infinite; /* IE 10+, Fx 29+ */
	}	
}

.ghost{
			border: 2px solid @brand-primary;
			color: @brand-primary;
			background: transparent;
			padding: 12px 30px;
		    font-size: 14px;
		    margin: 0 15px;
		    text-transform: uppercase;
		    //font-weight: bold;
		    letter-spacing:3px;
			.transition(all ease-in-out .3s);
			i{
				//color: #fff;
			}
			&:hover{
				color: #fff;
				border-color: @brand-primary;
				background: @brand-primary;
			}
			&.app_button {
				width: 215px;
				border-color: #fff;
				color: #fff;
				font-size: 18px;
				&:hover{
					border-color: @brand-primary;
					.scale(1.1);
				}
				i{
					margin-right: 10px;
				    margin-top: 2px;
				    font-size: 25px;
				}
			}
			&.dark{
				border-color: @gray-dark;
				color: @gray-dark;
				&:hover{
					background: @gray-dark;
					color: #fff;
				}
			}
			&.no-border{
				border: none;
			}
			&.disabled{
				.opacity(.3);
				background: transparent;
				color: @brand-primary;
				border-color: @brand-primary;
			}
		}

.icon-button{
	text-align: center;
	width: 100px;
	cursor: pointer;
	outline: none;
    margin: 0 10px 0 0;
	img{
		width: 50px;
		height: auto;
		display: block;
    	margin: 10px auto;
		.transition(all ease-in-out .3s);
		*{
			fill: @gray-dark;
		}		
	}
	span{
		color: #000;
		text-transform: uppercase;
	}
	&:hover{
		img{
			width: 55px;
			*{
				fill: @gray-light;
			}
		}
	}
}
a{
	color: @gray-dark;
	font-size: bold;
	&:hover{
		color: darken(@gray-dark,5%);
	}
}

.centered_icon_container{
	min-height: 80px;
	text-align: center;
	i{
		display: block;
		margin: 10px;
		font-size: 30px;
		&.big{
			font-size: 40px;
		}
		&.small{
			font-size: 20px;
		}
	}
}
[ng-click], .pointer{
	cursor: pointer;
	outline: none !important;
}

.box_images{
			width: 100%;
			height: 0;
			background-size: cover;
			&.sq{
				padding: 100% 0 0 0;
			}
			&.qt{
				padding: 75% 0 0 0;
			}
			&.sn{
				padding: 56.25% 0 0 0;
			}
		}

ul{
	.padded{
		padding: 0 10px;
	}
}
.single_service{
	i.big{
	    height: 42px;
	    margin-top: -6px;
	}
}

.no-pad{
	padding: 0;
}
.underlined{
	text-decoration: underline;
}

form{
	[type="submit"]{
		padding: 12px;				    
	}
}

.drop {
  position: relative;
}
.drop ul {
  position: absolute;
  left: 0;
  top: 3em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  padding-left: 0;
  z-index: 1;
}
.drop ul li {
  display: block;
  width: 100%;
}
.drop ul li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
.drop ul li a:hover {
  background: #ebebeb;
  text-decoration: none;
}
.drop:hover ul {
  -webkit-transform: scale(1);
          transform: scale(1);
}




.restaurant_panel, .fatturazione_panel, .payment_panel, .confirmed_panel{
    max-width: 450px;
    margin: auto;
    padding: 12px 40px;
    h3{
    	text-align: center;
    	line-height: 150%;
    	text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 3px;
    }
}
.confirmed_panel{
	text-align: center;
	line-height: 150%;
	i{
		display: block;
		margin: 12px auto;
		color: @brand-success;
		text-align: center;
		border: 3px solid @brand-success;
	    border-radius: 50%;
	    font-size: 78px;
	    width: 100px;
	    line-height: 118px;
	    height: 100px;
	    padding: 0;
	}
}
.action_list_delivery{
	list-style: none;
	padding-left: 0;
	width: 350px;
	margin: 24px auto;
	text-align: center;
	li{
		display: inline-block;
		text-transform: uppercase;
		margin: 0 10px;
		outline: none;
		cursor: pointer;
		font-size: 14px;
		span{
			border: 2px solid @brand-primary;
			.transition(all ease-in-out .1s);
			background: transparent;
			width: 20px;
			height: 20px;
			display: inline-block;
			.scale(.8);
			.border-radius(50%);
			position: relative;
			top: 5px;
		}
		&.active{
			span{
				background: @brand-primary;
				.scale(1);
			}
			color: @brand-primary;
		}
	}
}

/**

From backend main.less

**/
.panel{
	.border-radius(4px);
}

.spacing{
	letter-spacing: 2px;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}
.caps{
	font-variant: small-caps;
}
.size-small{
	font-size: 12px;
}
.size-medium{
	font-size: 14px;
}
.size-big{
	font-size: 16px;
}
.circle{
	.border-radius(50%);
}

.pad-big-v{
	padding-top: 16px;
	padding-bottom: 16px;
}
.pad-medium-v{
	padding-top: 14px;
	padding-bottom: 14px;
}
.pad-small-v{
	padding-top: 12px;
	padding-bottom: 12px;
}
.pad-big-o{
	padding-left: 16px;
	padding-right: 16px;
}
.pad-medium-o{
	padding-left: 14px;
	padding-right: 14px;
}
.pad-small-o{
	padding-left: 12px;
	padding-right: 12px;
}


.badge{
	&.badge-info{
		background: @brand-info;
	}
	&.badge-primary{
		background: @brand-primary;
	}
	&.badge-success{
		background: @brand-success;
	}
	&.badge-danger{
		background: @brand-danger;
	}
	&.badge-warning{
		background: @brand-warning;
	}
}
.margin-v(@m){
	margin-top: @m;
	margin-bottom: @m;
}
.margin-o(@m){
	margin-left: @m;
	margin-right: @m;
}
.margin-big-v{
	.margin-v(20px);
}
.margin-medium-v{
	.margin-v(16px);
}
.margin-small-v{
	.margin-v(12px);
}
.margin-big-o{
	.margin-o(20px);
}
.margin-medium-o{
	.margin-o(16px);
}
.margin-small-o{
	.margin-o(12px);
}

.inline-block{
	display: inline-block;
}
.contain-image-actions{
	position: relative;
	overflow: hidden;
	.actions, .always_visible_action{
		background: rgba(0,0,0,.6);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.opacity(0);
		.transition(all ease-in-out .3s);
	}
	.always_visible_action{
		.opacity(1);
	}
	input[type="file"]{
		.opacity(0);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	i{
		.transition(all ease-in-out .3s);
	}
	&:hover{
		.actions{
			.opacity(1);
		}		
	}
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: @brand-primary;
	border: none;
	border-bottom: 1px solid @brand-primary;

}
.nav-tabs{
	border-color: @gray-lighter;
	> li{
		outline: none;
		> a{
			text-transform: uppercase;
    		padding: 10px 20px;
    		color: #a3afb7;
    		letter-spacing: 2px;
    		&:hover{
    			border: 1px solid #fff;
    			border-bottom-color: @gray-light;
    			background: lighten(@gray-lighter,30%);
    		}
		}
	}
}
.tab-content{
	margin-top: 20px;
	margin-bottom: 20px;
	ul{
		li{
			border: none;
		}
	}
}
label{
	text-transform: uppercase;
    font-size: 12px;
    color: @gray-darker;
    font-weight: bold;
    letter-spacing: 1.4px;
}
.darker{
	color: @gray-darker;
}

.spinner{
	line-height: 13px;
}

.relative{
	position: relative;
}

.btn-no-margin{
	margin: 12px 0;
}

.block_auto{
	display: block;
	margin: auto;
}

.medium_block{
	max-width: 100%;
	width: 800px;
}
.small_block{
	max-width: 100%;
	width: 400px;
}

.cookie_law{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(255,255,255,.8);
	padding: 12px;
	z-index: 999999999999;
}
.block{
    display: block;
}

.form-title{
    text-align: center;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
}

.bg-white{
    background: #fff;
}

.go_down{
		position: absolute;
	    bottom: 0;
	    width: 100%;
	    z-index: 2;
		p{
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 3px;
			line-height: 200%;
			margin-bottom: 20px;
			i{
				color: #fff;
				display: block;
			}
		}
		&.dark{
			p, i{
				color: @gray-dark;
			}
		}
	}

.btn{
	padding: 14px 20px;
    text-transform: uppercase;
}

.main_page_overlay{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.6);
	.cs-loader {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	}

	.cs-loader-inner {
	  transform: translateY(-50%);
	  top: 50%;
	  position: absolute;
  	  width: 100vw;
	  color: #FFF;
	  padding: 0 100px;
	  text-align: center;
	}

	.cs-loader-inner label {
	  font-size: 20px;
	  opacity: 0;
	  display:inline-block;
	  color: #fff;
	}

	@keyframes lol {
	  0% {
	    opacity: 0;
	    transform: translateX(-300px);
	  }
	  33% {
	    opacity: 1;
	    transform: translateX(0px);
	  }
	  66% {
	    opacity: 1;
	    transform: translateX(0px);
	  }
	  100% {
	    opacity: 0;
	    transform: translateX(300px);
	  }
	}

	@-webkit-keyframes lol {
	  0% {
	    opacity: 0;
	    -webkit-transform: translateX(-300px);
	  }
	  33% {
	    opacity: 1;
	    -webkit-transform: translateX(0px);
	  }
	  66% {
	    opacity: 1;
	    -webkit-transform: translateX(0px);
	  }
	  100% {
	    opacity: 0;
	    -webkit-transform: translateX(300px);
	  }
	}

	.cs-loader-inner label:nth-child(6) {
	  -webkit-animation: lol 3s infinite ease-in-out;
	  animation: lol 3s infinite ease-in-out;
	}

	.cs-loader-inner label:nth-child(5) {
	  -webkit-animation: lol 3s 100ms infinite ease-in-out;
	  animation: lol 3s 100ms infinite ease-in-out;
	}

	.cs-loader-inner label:nth-child(4) {
	  -webkit-animation: lol 3s 200ms infinite ease-in-out;
	  animation: lol 3s 200ms infinite ease-in-out;
	}

	.cs-loader-inner label:nth-child(3) {
	  -webkit-animation: lol 3s 300ms infinite ease-in-out;
	  animation: lol 3s 300ms infinite ease-in-out;
	}

	.cs-loader-inner label:nth-child(2) {
	  -webkit-animation: lol 3s 400ms infinite ease-in-out;
	  animation: lol 3s 400ms infinite ease-in-out;
	}

	.cs-loader-inner label:nth-child(1) {
	  -webkit-animation: lol 3s 500ms infinite ease-in-out;
	  animation: lol 3s 500ms infinite ease-in-out;
	}
}


.custom_btn{
	padding: 10px 18px;
    background: rgba(255,255,255,.6);
    border: none;
    .transition(all ease-in-out .3s);
    .box-shadow(none);
    .border-radius(11px);
    font-size: 13px;
    i{
    	position: relative;
	    top: 2px;
	    margin-right: 9px;
    }
    &.primary{
    	background: rgba(red(@brand-primary),green(@brand-primary),blue(@brand-primary),.6);
    }
    &.warning{
    	background: rgba(red(@brand-warning),green(@brand-warning),blue(@brand-warning),.6);
    }
    &.danger{
    	background: rgba(red(@brand-danger),green(@brand-danger),blue(@brand-danger),.6);
    }
    &.success{
    	background: rgba(red(@brand-success),green(@brand-success),blue(@brand-success),.6);
    }
    &.info{
    	background: rgba(red(@brand-info),green(@brand-info),blue(@brand-info),.6);
    }
    &.round{
    	width: 40px;
    	height: 40px;
    	.border-radius(50%);
    	padding: 0;
	    position: relative;
    	top: -12px;
    	i{
    		margin-right: 0;
    	}
    }
    &:hover{
    	background: #fff;
    	&.primary{
	    	background: @brand-primary;
	    }
	    &.warning{
	    	background: @brand-warning;
	    }
	    &.danger{
	    	background: @brand-danger;
	    }
	    &.success{
	    	background: @brand-success;
	    }
	    &.info{
	    	background: @brand-info;
	    }
    }
    &.outline{
	    border: 1px solid #fff;
    	color: #fff;
    	background: none;
    	.border-radius(25px);
    	&:hover{
    		background: #fff;
    		color: @gray;
    	}
    }
}
.imaging_list{
	li{
		display: block;
		width: 100%;
		margin: 50px auto;
		&.bordered{
			border-bottom: 1px solid @gray-light;
		}
		img{
			width: 60px;
			height: 60px;
			.border-radius(50%);
			margin-right: 20px;
			&.full{
				width: 100%;
				height: auto;
				.border-radius(0);
				margin: 10px 0;
			}
		}
		h3{
			margin-top: 7px;
    		margin-bottom: 2px;
		}
		.list_action{
			.transition(all ease-in-out .2s);
			.opacity(0);
			position: absolute;
    		right: 0;
		}
		&:hover{
			.list_action{
				.opacity(1);
			}
		}
		.user_image_minus_top{
			position: relative;
		    top: -40px;
		    left: 10px;
		    border: 2px solid #fff;
		    margin-bottom: -36px;
		}
		.user_plate_image_info{
			text-align: center;
			h3{
				font-size: 14px;
				text-transform: uppercase;
				color: @brand-primary;
			}
			.rating_p{
				font-size: 28px;
				color: @brand-warning;
				width: 50px;
			    height: 50px;
			    line-height: 48px;
			    text-align: center;
			    .border-radius(50%);
			    border: 2px solid @brand-warning;
			    margin: auto;
			}
		}
	}
}
.input_hidden_upload{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    .opacity(0);
}

.outline_btn{
	background: none;
	border: 1px solid;
	min-width: 150px;
	&.nomin{
		min-width: auto;
	}
	padding: 10px 18px;
    .border-radius(25px);
    border-color: @gray;
    color: @gray;
    display: inline-block;
    *{
    	text-decoration: none;
    }
    &.iconic{
    	padding: 10px 6px;
    	&.profile_btn_iconical{
    		padding: 0;
    		line-height: 50px;
		    height: 48px;
    		width: 49px;
    		border: 2px solid;
		    padding: 0;
		    text-align: center;
		    i{
		    	font-size: 24px;
		    	line-height: 52px;
		    	&.mebi-close{
	    		    font-size: 21px;
		    	}
		    }
		    margin: 0 12px;
		}
    }
    .transition(all ease-in-out .2s);
    &.bprimary{
    	border-color: @brand-primary;
    	color: @brand-primary;
    }
    &.bdanger{
    	border-color: @brand-danger;
    	color: @brand-danger;
    }
    &.bwarning{
    	border-color: @brand-warning;
    	color: @brand-warning;
    }
    &.bsuccess{
    	border-color: @brand-success;
    	color: @brand-success;
    }
    &.binfo{
    	border-color: @brand-info;
    	color: @brand-info;
    }
    &:hover{
    	background: @gray;
    	color: #fff;
    	&.bprimary{
	    	background: @brand-primary;
	    }
	    &.bdanger{
	    	background: @brand-danger;
	    }
	    &.bwarning{
	    	background: @brand-warning;
	    }
	    &.bsuccess{
	    	background: @brand-success;
	    }
	    &.binfo{
	    	background: @brand-info;
	    }
    }
}
.notification_alert{
	width: 250px;
	i{
		font-size: 30px;
	}
}

.fasce_span{
        margin: 0;
        background: #e5e5e5;
        color: #fff;
        margin-right: 5px;
        margin-top: 5px;
        padding: 10px 15px;
        display: inline-block;
        &.darken{
        	background: @gray;
        }
        .transition(all ease-in-out .15s);
        &.active{
            background: @brand-primary;
        }
        &:active{
            background: darken(#e5e5e5,5%);
        }
        &:hover{
            background: @gray-dark;
        }
        &.danger{
        	background: @brand-danger;
        }
        &.primary{
        	background: @brand-primary;
        }
        &.success{
        	background: @brand-success;
        }
        &.info{
        	background: @brand-info;
        }
        &.warning{
        	background: @brand-warning;
        }
    }

[contenteditable]{
	outline: none;
	min-width: 100px;
	border: 1px dashed transparent;
	&:hover, &:focus{
		border-color: @gray-light;
	}
}
.wrap_text{
	white-space: pre
}

@media print{
	.no_print{
		display: none;
	}
}