.menu_container{
    .menu-titles{
			li{
				color: @gray-dark;
				display: inline-block;
				padding: 5px 15px;
			    text-transform: uppercase;
			    font-size: 14px;
			    letter-spacing: 2px;
    			.transition(all ease-in-out .1s);
    			margin-right: 10px;
				&.active{
					background: @brand-primary;
					color: #fff;
				}
			}
		}
		.menu{
			margin-top: 30px;
			&.category{
				margin: 30px auto;
				border-bottom: 1px solid @gray-lighter;
				padding-bottom: 18px;
				&.no-border-bottom{
					border-bottom: none;
					margin-bottom: 0;
				}
			}
			li{				
				&:first-child{
					display: block;
					height: auto;
					text-transform: uppercase;
				}
			}
			.categoria-name{
				font-size: 14px;
				color: @gray-dark;
				text-transform: uppercase;
				padding-left: 3px;
			}	
			.left{
				width: 70%;
				float: left;
				.transition(all ease-in-out .3s);
				h5{
					color: @gray;
				}
				.ingredients{
					//color: @gray-light;
					font-size: 11px;
				}
				.desc{
					font-size: 11px;
				}
			}
			.right{
				width: 25%;
			    float: right;
			    vertical-align: baseline;
			    padding-top: 5px;
			    .transition(all ease-in-out .3s);
			    p{
			    	color: @gray;
			    }
			}
			.single_plate{
				position: relative;
				.add_btn{
					position: absolute;
					top: 0; left: 0; width: 100%; height: 100%;
					.opacity(0); .transition(all ease-in-out .3s);
					text-align: center;
					.translate(0,-20px);
					i{
						position: absolute; top: 50%; .translate(0,-50%);
						color: @brand-primary;
						font-size: 26px;
					}
				}
				
			}
			.small_bottom_margin{
				margin-bottom: 12px;
			}
		}
		.visual_menu{
			.small_pad{
				    padding: 2px;
			}
			.categoria-name{
				font-size: 14px;
				color: @gray-dark;
				text-transform: uppercase;
				padding-left: 3px;
			}	
			.single_plate{
				background: #fff;
				padding: 0;
    			margin: 13px;
    			.border-radius(4px);
    			overflow: hidden;
				.plate_image{
					padding: 75% 0 0 0;
					width: 100%;
					height: auto;
					position: relative;
					img{
						position: absolute; top: 0; left:0;
						width: 100%; height: 100%;
					}
				}
				.text{
					padding: 13px;
					h5{
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						//text-transform: uppercase;
    					//letter-spacing: 1.3px;
    					margin-top: 0;
    					margin-bottom: 12px;
					}
					.price{
						line-height: 35px;
    					font-size: 18px;
    					.icon-plus{
    						color: @brand-primary;
    						cursor: pointer;
    						.opacity(0);
    						.translate(-20px,0);
    						.transition(all ease-in-out .15s);
    					}
					}
					.add{
						text-transform: uppercase;
						text-align: center;
					}					
				}
				&:hover{
					.text{
						.price{
							.icon-plus{
								.opacity(1);
								.translate(0,0);
							}
						}
					}
				}
			}
		}
		.menu_tipe_selection_ul{
			margin-top: 13px;
			li{
				display: inline-block;
				text-transform: uppercase;
				margin-right: 13px;
				&.active{
					border-bottom: 2px solid;
				}
			}
		}
	}
	#menuContainer{
		    padding: 20px;
    //background: #fff;
    .box-shadow(0 0 0 1px #F5F5F5);
	}


.fixed_price_menu{
	.fixed_price_container{
		width: 300px;
	    height: 100px;
    	padding-top: 19px;
		max-width: 100%;
		label{
			text-align: right;
		}
		.price_content{
			background: @brand-primary;
			text-align: center;
		    color: #fff;
		    font-size: 30px;
		    margin-top: -20px;
		    width: 160px;
		    height: 100px;
		    line-height: 100px;
		}
	}
}
