.standalone_menu{
	box-shadow: 1px 1px 27px #f6f6f6;
    padding: 10px 20px;  
    p{
    	line-height: 1.3
    }
    .menu_title{
    	h1{
    		margin-bottom: 20px;
    		small{
    			font-size: 40%;
    			margin-top: 10px;
    			display: block;
    			color: @gray;
    		}
    	}
    }
    .style_one{
		.menu_title{
			h3{
				font-size: 33px !important;
			}
		}
		.pre_text{

		}
		.post_text{

		}
		.menu_price{
			.menu_price_text{
				text-align: inherit;
			}
			.menu_price_price{
				text-align: inherit;
			}
		}
		.menu_category{			
			.menu_category_title{
				h4{
				    font-size: 21px;
				    margin-bottom: 25px;
				    margin-top: 30px;
				}
			}
		}
		.menu_plate{
			width: 49%;
		    margin: 0;
		    display: inline-block;
		    vertical-align: top;
		    margin-bottom: 18px;
		    .contain_plate{
		    	position: relative;
		    	top: 0;
		    }
			&.even{
				font-family: inherit;
				&:after{
					content: "";
					display: block;
					width: 100%;
					height: 1px;
				}
			}		
			.plate_image{
				width: 80px;
				height: 80px;
				display: inline-block;
				float: left;
				margin-right: 10px;
				img{
					width: 78px;
					height: 78px;
					.transition(all ease-in-out .2s);
					border-radius: 50%;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					position: relative;
					&:hover{
						position: absolute;
						//width: auto;
    					//height: auto;
						border-radius: 0;
						-moz-border-radius: 0;
						-webkit-border-radius: 0;
						.scale(3);
						z-index: 1;
						/*transform: translate(-80px,-80px);
						-moz-transform: translate(-80px,-80px);
						-webkit-transform: translate(-80px,-80px);*/
					}
				}
			}
			.plate_content{
				float: left;
				width: 65%;	
				&.with_price{
					width: 90%;
					&.with_image{
						width: 65%;
					}
				}	
				h5{
					font-size: 15px;
					color: @gray-dark;
				}
			}
			.plate_ingredienti{
				ul{
					li{
						display: inline-block;
					}
				}
			}
			.plate_allergeni{
				ul{
					li{
						display: inline-block;
					}
				}
			}
			.plate_price{
				/*width: 15%;
				float: right;
    			padding-top: 8px;*/
    			font-size: 16px;
    			&.with_image{
    				padding-left: 90px;
    			}
			    display: block;
			    clear: both;
			}
			.plate_options{
				text-align: inherit;
				.option_style{
					list-style: none;
					padding-left: 10px;
					li{
						border-left: 3px solid @gray-lighter;
						padding-left: 10px;
    					margin-bottom: 1px;
					}
				}
				.option_name{
					text-align: inherit;
				}
				.option_addition{
					text-align: inherit;
				}
			}
		}
		.row_separator{
			width: 100%;
			background: @gray-lighter;
			height: 2px;
		}
	}

	.style_two{
		.menu_title{
			h3{
				font-size: 33px !important;
				text-align: center;
			}
		}
		.pre_text{
			text-align: center;
		}
		.post_text{

		}
		.menu_price{
			.menu_price_text{
				display: none;
			}
			.menu_price_price{
				text-align: center;
				font-size: 40px;
				color: rgb(red(@gray-light),green(@gray-light),blue(@gray-light));
			}
		}
		.menu_category{			
			.menu_category_title{
				h4{
				    font-size: 21px;
				    margin-bottom: 25px;
				    margin-top: 30px;
				    text-transform: uppercase;
				    text-align: center;
				    letter-spacing: 3px;
				}
			}
		}
		.menu_plate{
			width: 49%;
		    margin: 0;
		    display: inline-block;
		    vertical-align: top;
		    margin-bottom: 18px;
		    .contain_plate{
		    	position: relative;
		    	top: 0;
		    }
			&.even{
				font-family: inherit;
				&:after{
					content: "";
					display: block;
					width: 100%;
					height: 1px;
				}
			}		
			.plate_image{
				display: block;
				margin: 10px auto; 
				text-align: center;
				width: 110px;
    			height: 110px;
    			border-radius: 50%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				img{
					width: 100%;
				    height: auto;
				    //border: 2px solid @gray-lighter;
					.transition(all ease-in-out .2s);
					border-radius: 50%;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					position: relative;
					&:hover{
						border-width: 5px;
						.scale(3);
						z-index: 1;
						/*transform: translate(-80px,-80px);
						-moz-transform: translate(-80px,-80px);
						-webkit-transform: translate(-80px,-80px);*/
					}
				}
			}
			.plate_content{
				width: 100%;
				text-align: center;	
				padding: 10px;				
				h5{
					font-size: 15px;
					color: @gray-dark;
				}
			}
			/*.plate_ingredienti{
				b{
					display: block;
					text-transform: uppercase;
				}
			}
			.plate_allergeni{
				b{
					display: block;
					text-transform: uppercase;
				}
			}*/
			.plate_price{
				display: block;
    			text-align: center;
    			font-size: 16px;
    			p{
    				/*position: relative;
				    width: 80px;
				    height: 80px;
				    margin: 10px auto;
				    border: 2px solid @gray-lighter;
				    border-radius: 50%;
				    line-height: 77px;
				    text-align: center;				    
    				.euro{
    					position: absolute;
					    color: @gray-lighter;
					    z-index: 0;
					    font-size: 73px;
					    left: 8px;
    				}
    				.price{
    					position: absolute;
    					font-size: 22px;
    					.translate(-50%,0);
    					width: 80px;
    				}*/
    			}
			}
			.plate_options{
				text-align: inherit;
				.option_style{
					list-style: none;
					padding-left: 10px;
					li{
						padding-left: 0;
					    margin-bottom: 1px;
					    text-transform: uppercase;
					    font-size: 10px;
					}
				}
				.option_name{
					text-align: inherit;
				}
				.option_addition{
					text-align: inherit;
				}
			}
		}
		.row_separator{
			width: 100%;
			background: @gray-lighter;
			height: 2px;
		}
	}

	.style_tree{
		.menu_title{
			h3{
				font-size: 33px !important;
				text-align: center;
			}
		}
		.pre_text{
			text-align: center;
		}
		.post_text{

		}
		.menu_price{
			.menu_price_text{
				display: none;
			}
			.menu_price_price{
				text-align: center;
				font-size: 40px;
				color: rgb(red(@gray-light),green(@gray-light),blue(@gray-light));
			}
		}
		.menu_category{			
			.menu_category_title{
				h4{
				    font-size: 21px;
				    margin-bottom: 25px;
				    margin-top: 30px;
				    text-transform: uppercase;
				    text-align: center;
				    letter-spacing: 3px;
				}
			}
		}
		.menu_plate{
			width: 49%;
		    margin: 0;
		    display: inline-block;
		    vertical-align: top;
		    margin-bottom: 18px;
		    .contain_plate{
		    	position: relative;
		    	top: 0;
		    }
			&.even{
				font-family: inherit;
				&:after{
					content: "";
					display: block;
					width: 100%;
					height: 1px;
				}
			}		
			.plate_image{
				display: block;
				margin: auto; /*10px auto;*/
				text-align: center;
				padding: 10px 10px 0 10px;
				img{
					width: 100%;
				    height: auto;
				    //border: 2px solid @gray-lighter;
					.transition(all ease-in-out .2s);
					position: relative;
				}
			}
			.plate_content{
				width: 100%;
				text-align: center;	
				padding: 10px;				
				h5{
					font-size: 15px;
					color: @gray-dark;
				}
			}
			/*.plate_ingredienti{
				b{
					display: block;
					text-transform: uppercase;
				}
			}
			.plate_allergeni{
				b{
					display: block;
					text-transform: uppercase;
				}
			}*/
			.plate_price{
				display: block;
    			text-align: center;
    			font-size: 16px;
    			/*
    			p{
    				position: relative;
				    width: 80px;
				    height: 80px;
				    margin: 10px auto;
				    border: 2px solid @gray-lighter;
				    border-radius: 50%;
				    line-height: 77px;
				    text-align: center;				    
    				.euro{
    					position: absolute;
					    color: @gray-lighter;
					    z-index: 0;
					    font-size: 73px;
					    left: 8px;
    				}
    				.price{
    					position: absolute;
    					font-size: 22px;
    					.translate(-50%,0);
    					width: 80px;
    				}
    			}*/
			}
			.plate_options{
				text-align: inherit;
				.option_style{
					list-style: none;
					padding-left: 10px;
					li{
						padding-left: 0;
					    margin-bottom: 1px;
					    text-transform: uppercase;
					    font-size: 10px;
					}
				}
				.option_name{
					text-align: inherit;
				}
				.option_addition{
					text-align: inherit;
				}
			}
		}
		.row_separator{
			width: 100%;
			background: @gray-lighter;
			height: 2px;
		}
	}

	.style_four{
		.menu_title{
			h3{
				font-size: 33px !important;
			}
		}
		.pre_text{
			text-align: center;
		}
		.post_text{

		}
		.menu_price{
			.menu_price_text{
				text-align: inherit;
			}
			.menu_price_price{
				text-align: inherit;
			}
		}
		.menu_category{			
			.menu_category_title{
				h4{
				    font-size: 21px;
				    margin-bottom: 25px;
				    margin-top: 30px;
				}
			}
		}
		.menu_plate{
			width: 49%;
		    margin: 0;
		    display: inline-block;
		    vertical-align: top;
		    margin-bottom: 18px;
		    .contain_plate{
		    	position: relative;
		    	top: 0;
		    }
			&.even{
				font-family: inherit;
				&:after{
					content: "";
					display: block;
					width: 100%;
					height: 1px;
				}
			}		
			.plate_image{
				display: none
			}
			.plate_content{
				float: left;
				width: 100%;
				padding-right: 10px;	
				/*&.with_price{
					width: 90%;
				}*/	
				h5{
					font-size: 15px;
					color: @gray-dark;
				}
			}
			.plate_ingredienti{
				ul{
					li{
						display: inline-block;
					}
				}
			}
			.plate_allergeni{
				ul{
					li{
						display: inline-block;
					}
				}
			}
			.plate_price{
				/*width: 15%;
				float: right;
    			padding-top: 8px;*/
    			font-size: 16px;
    			margin-top: 8px;
    			display: block;
    			clear: both;
			}
			.plate_options{
				text-align: inherit;
				.option_style{
					list-style: none;
					padding-left: 10px;
					li{
						border-left: 3px solid @gray-lighter;
						padding-left: 10px;
    					margin-bottom: 1px;
					}
				}
				.option_name{
					text-align: inherit;
				}
				.option_addition{
					text-align: inherit;
				}
			}
		}
		.row_separator{
			width: 100%;
			background: @gray-lighter;
			height: 2px;
		}
	}
	
	.no_list_style{
		list-style: none;
    	padding-left: 0;
		li{
			list-style: none;
		}
	}
	.clearfix{
		&:after,&:before{
			clear: both;
		}
	}
	.wrap_text{
		white-space: pre
	}
}

@media screen and (max-width: 800px){
	.standalone_menu{
		.style_one{
			.menu_plate{
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: 380px){
	.standalone_menu{
		.style_one{
			.menu_plate{
				.plate_image{
					display: none;
				}
				.plate_content{
					&.with_price{
						&.with_image{
							width: 80%;
						}
					}
				}
			}
		}
	}
}
@media print{
	.standalone_menu{
		box-shadow: none;
		*{
	    	font-family: 'Montserrat-Regular', 'Montserrat';
	    } 
	}
	.no_print{
		display: none;
	}
	.menu_plate{
		width: 49%;
		float: left;
		display: inline-block;
		page-break-inside: avoid;
	}
	.page-break	{ display: block; page-break-after: always; }
	.style_one, .style_two{
		.plate_image{
			.border-radius(50%);
			overflow: hidden; 
		}
	} 
	.style_two, .style_tree{
		.plate_price{
			p{				
				width: auto !important;
				height: auto !important;
				border: none !important;
				line-height: 22px !important;
				.euro{
					font-size: 22px !important;
					display: none;
				}
				.euro, .price{
					position: static !important;
				}
			}
		}
	} 
	.style_two{
		.plate_image{
			.border-radius(50%);
			overflow: hidden;
			img{
				max-width: 110px !important; 
				max-height: 110px !important;
			}
		}
	}
}

.standalone_menu .style_tree .menu_plate.third_half {
	*{
		text-align: left;
	}
	.plate_price{
		text-align: left;
		p{
			position: inherit;
		    width: auto;
		    height: auto;
		    border: none;
		    border-radius: 0;
		    text-align: left;
		    padding-left: 12px;
		    //margin-top: -22px;
	    .euro{
	      	position: inherit;
		    font-size: 16px;
		    left: 0;
		    color: @brand-primary;
	    }
	    .price{
		    position: inherit;
		    font-size: 16px;
		    color: @brand-primary;
	    }
		}
	}
}


/* Menu da mostrare sul sito */
@media screen and (min-width: 1030px){
	.menu_plate{
		&.third_half{
			width: 33% !important;
		}
	}
}

@media screen and (max-width: 550px){
	.menu_plate{
		width: 100% !important;
	}
}