.menuManagement_container{
	.category_block{
	    margin-top: 10px;
	    .category_block_content{
	    	display: none;
	    }
	    &.open{
	    	.category_block_content{
	    		display: block;
	    	}
	    }
	}
	.rotate_up{
		.transition(all ease-in-out .15s);
		&.up{
			.rotate(180deg);
		}
	}
	.add_icon_inline{
		position: relative;
	    top: 3px;
	    font-size: 16px;
	}
	.mebi-close{
		&.add_icon_inline{
			top: 0;
	    	font-size: 10px;
		}
	}
	.margin_delete{
	    margin-left: 15px;
	}
	.category_name{
		background: lighten(@gray-lighter,5%);
	    padding: 2px 8px;
	}
	.size_small{
		text-transform: uppercase;
	    font-size: 10px;
	    position: relative;
	    top: 5px;
	}
	.add_plate_row{
		display: block;
		height: 20px;
		margin-top: 6px;
    	text-align: center;
		line-height: 20px;
		color: @brand-warning;
		.opacity(.6);
		.transition(all ease-in-out .2s);
		&:hover{
			.opacity(1);
		}
		i{
			background: @brand-warning;
			width: 18px;
    		height: 18px;
			line-height: 21px;
		    position: relative;
		    color: #fff;
		    text-align: center;
		    top: 2px;
		    .border-radius(50%);
		}
	}
	.single_edit_plate_image{
		max-width: 80px;
	}
	.single_plate_row{
		padding: 10px;
    	border-bottom: 2px solid @gray-lighter;
	}
	.plate_name{
		color: #333;
	}
	.plate_desc{
		color: @gray-light;
		&:hover, &:focus{
			color: @gray;
		}
	}
	.label_extra_info{
		width: 78px;
    	display: inline-block;
	}
	.angular-tagger__tag{
	    padding: 0 5px;
	}
	.angular-tagger{
		border-bottom: 1px solid #ccc;
		.border-radius(0);
	}
	.main_option_title{
		background: lighten(@gray-lighter,5%);
	}
	.label_options_row{
		font-size: 12px;
    	text-transform: none;
    	letter-spacing: 0;
	}
	.options_top{
		margin-top: 5px;
	}
	.options_row{
	    margin: 1px;
	    //min-width: 633px;
	    line-height: 20px;
	    padding: 6px 5px;
	    border-left: 3px solid @gray-light;
	    &.no_border{
	    	border: none;
	    }
	    span{
	    	display: inline-block;
	    }
	}
	.options_select{
		height: 28px;
    	border: 2px solid @gray-lighter;
	}
	.price_options_field{
		border: 1px dashed transparent;
		&:hover, &:focus{
			border-color: @gray-light;
		}
    	width: 60px;
    	display: inline-block;
    	outline: none;
	}
	.last_add_cat{
		display: block;
    	margin-top: 7px;
	}

	.switch_btn{
		.switch_button{
			background: @gray-lighter;
			padding: 10px 15px;
		    text-transform: uppercase;
		    font-size: 12px;
		    letter-spacing: 0.5px;
	        margin: 2px -1px;
		    cursor: pointer;
		    .transition(all ease-in-out .15s);
		    &:hover{
		    	text-decoration: none;
		    	background: @gray-light;
		    }
			&:first-child{
				.border-left-radius(10px);
			}
			&:last-child{
				.border-right-radius(10px);
			}
			&.active{
				background: @brand-primary;
				color: #fff;
			}
		}
	}

}
.menu_editing_save{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 50px;
    background: @brand-primary;
    padding: 0 20px;
    border-top: 1px solid #0fa6bb;;
    line-height: 50px;
    a{
    	color: #fff;
	    text-transform: uppercase;
	    text-decoration: none;
	    .transition(all ease-in-out .15s);
	    &:hover{
	    	color: #10606b;
	    }
    }
}
.facebook_btn{
	background: @color-fb;
	color: #fff;
    font-size: 18px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    padding: 0 26px 0 12px;
    .border-radius(20px);
    .transition(all ease-in-out .15s);
    text-decoration: none;
    i{
	    border-right: 1px solid #fff;
	    margin-right: 12px;
	    padding-right: 10px;
    }
    &:hover{ 
    	background: darken(@color-fb,10%);
    	color: #fff;
    	text-decoration: none;
    }
}


.edit-span{
	font-size: 20px;
	cursor: pointer;
}