#menoo{
	#menuContainer{
		background-color: #fff;
	}
}
// carrello
.cart-form{
		background: #fff;
		border-bottom: 3px solid darken(@brand-primary,10%);
		&.active{
			position: fixed;
			top: 82px;
			z-index: 2;
		}
		.form-content{
			//padding-top: 20px;
			//border: 1px solid @gray-light;
		}
		.reservation-header{
			color: @gray-dark;//@brand-primary;
			//color: #fff;
			padding: 18px 24px;
			text-transform: uppercase;
			text-align: center;
			font-size: 18px;
			&:after{
				display: block;
				width: 100px;
				height: 3px;
				background: darken(@brand-primary,10%);
				margin: auto;
				content: "";
				margin-top: 8px;
			}
		}
		width: 350px;		
		.transition(all ease-in-out .3s);
		
		.cont{
			padding: 0 20px 20px 20px;
			background: #fff;
		}
		h3{
			font-weight: bold;
			font-size: 14px;
			color: @gray-dark;
			margin-top: 0;
		}
		form{
			select{
				padding: 10px;
				border: 1px solid @gray-light;
			    width: 25.4%;
			    line-height: 14px;
			    height: 38px;
			    padding: 5px 10px;
			    display: inline-block;
			    float: right;
			    margin-bottom: 0;
			}
		}
		.btn{
			margin: 12px auto 0;
		}
		.form_header{
			//background: @brand-primary;
			padding: 20px 20px 10px;
			*{
			//	color: #fff;
			}
		}
		.semi-date{
			width: 36%;
			padding: 5px 10px;
		    line-height: 14px;
		    height: 38px;
		    border-color: @gray-light;
		    margin-bottom: 0;
		}
		.form-control{
			display: inline-block;
		}
		.plate_addition{
			position: absolute;
			left: -5px;
    		top: -10px;
		    height: 41px;
		    width: 10px;
		    z-index: 1;
		    .opacity(0);
		    i{
		    	.transition(all ease-in-out .15s);
		    }
		}
		.plate_name{
			/*white-space: nowrap;
			overflow: hidden;
  			text-overflow: ellipsis;*/
  			.light{
  				color: darken(@gray-light,15%);
  			}
		}
		.plate_price{
			i{
				position: absolute;
			    right: -3px;
    			top: 4px;
				color: @gray;
				.opacity(0);
				.transition(all ease-in-out .15s);
				z-index: 1;
				&:hover{
					color: @brand-danger;
				}
			}
		}
		.order_plate_container{
			position: relative;
			p{
				//line-height: 42px;
				.pull-right{
					//line-height: 42px;
				}
			}
			&:hover{
				.plate_price{
					i{
						.opacity(1);
					}
				}
				.plate_addition{
					.opacity(1);
					i:hover{
						color: @brand-primary;
					}
				}
			}
		}
		.no-padding{
			padding-right: 0;
		}
		.cart_menu_order{
			li{
			    padding: 12px 10px;
				border-bottom: 1px solid @gray-lighter;
				&.no-border{
					border-bottom: none;
				}
			}
		}
		.order_totals{
			border-top: 1px solid @gray-light;
			margin-top: 13px;
			font-size: 14px;
			text-transform: uppercase;
			text-align: center;
			.order-total{
				    line-height: 60px;
    				font-size: 30px;
			}
			a{
				font-size: 18px;
				line-height: 64px;
				display: block;
			}
		}
		.option_list_in_chart{
			padding: 0;
			margin: 0;
			padding-left: 20px;
			li{
				border: none;
			    padding: 0;
			    color: darken(@gray-light,15%);
			    border-left: 2px solid;
			    padding-left: 10px;
			    margin-bottom: 2px;
			}
		}
		.back_arrow{
			font-size: 36px;
		    line-height: 55px;
		    position: relative;
		    top: 10px;
		}
	}
.btn-confirm-container{
			background: @brand-primary;
			.transition(all ease-in-out .3s);
			margin-top: -1px;
			&:hover{
				background: darken(@brand-primary,10%);
				cursor: pointer;
			}
			a{
				color: #fff;
				&:hover{
					text-decoration: none;
				}
			}
		}

// dialog

.ngdialog.ngdialog-theme-default .ngdialog-content .plate_dialog{
	.bigText{
		font-size: 30px;
	}
	.marginated{
		margin: 40px auto;
	}
	.text-center{
		*{
			text-align: center;
		}
	}
	.plate_image_container{
		background-size: cover;
		background-position: center;
		width: 100%;
		padding: 75% 0 0 0;
	}
	.variations{
	    padding: 13px;
	    margin: 20px -13px;
	    background: @gray-lighter;
	    .border-radius(5px);
		*{
			text-align: left;
		}
		.option_category{
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		.qty_options{
			text-align: right;
		}
		.option_category_block{
			margin: 13px 0;
		}
		.single_option_list_item{
			line-height: 30px;
			margin-bottom: 5px;
		}
		.option_check{
			i{
				color: darken(@gray-light,15%);
				.border-radius(50%);
				text-align: center;
				border: 2px dashed darken(@gray-light,15%);
				.transition(all ease-in-out .3s);
				display: block;
			    float: right;
			    height: 25px;
			    width: 25px;
			    line-height: 25px;
			}
			.remove{
				display: none;
				font-size: 10px;
			}
			&.active{
				i{
					border-color: @brand-success;
					border-style: solid;
					color: @brand-success;
					&.remove{
						border-color: @brand-danger;
						color: @brand-danger;
					}
				}	
				&:hover{
					.check{
						display: none;
					}				
					.remove{
						display: block;
					}
				}			
			}
		}
	}
	.ghost{
		margin: 0 !important;
	}
}
#order_payment{
	background: #fff;
	border-bottom: 3px solid darken(@brand-primary,10%);
	//.border-radius(4px);
	.process_container{
		
		.payment_panel{
			form{
			    max-width: 400px;
				margin: 80px auto;
				min-height: 300px;
				.form-control{
					border: 2px solid @gray-light;
				}
				[type="submit"]{
					padding: 12px;				    
				}
			}
		}
		.no-pad-col{
			.form-group{
				padding: 0 12px;
			}
		}
		form{
			display: block;
			margin: auto;
						
		}
	}
}
  
@media screen and ( max-width: @screen-md ){ 
	.cart-form{
		margin: 40px auto; 
	}
}