#mobilemenu{
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: @brand-primary;
    .transition(all ease-in-out .3s);
    .translate(100vw,0);
    z-index: 5;
    *{
        color: #fff;
    }
    &.open{
        .translate(0,0);
    }
    padding-top: 130px;
    ul{
        li{
            text-transform: uppercase;
            letter-spacing: 2px;
            a{
                display: block;
                padding: 20px;
                padding-left: 42px;
                text-align: left;
            }
        }
    }
}