.plan_table{
	.plan_header{
		padding: 18px 0 5px;
	    text-align: center;
		background: @brand-primary;
		color: #fff;
		.plan_price{
			font-size: 62px;
			color: #fff;
		}
	}
	.plan_fatturazione{
		padding: 20px 0;
		button{
			border: none;
		    background: #fff;
		    text-transform: uppercase;
		    font-size: 16px;
		    letter-spacing: 2px;
		}
	}
	.plan_services{
		padding: 30px;
		ul {
			li{
				font-size: 18px;
			}
		}
	}
	.plan_button{

	}
	&.featured{
		.plan_header{
			background: @brand-warning;
		}
	}
}