.white_page{
	background: #fff;
	min-height: 100vh;
	width: 100vw;
	padding-top: 110px;
}
.plate_single_price{
	font-size: 40px;
	margin: 30px auto;
}
.plate_rating{
	i{
		font-size: 30px;
		color: @brand-primary;
		&:active{
			color: @brand-warning;
		}
	}
	span{
		font-size: 40px;
	}
	i, span{
		display: inline-block;
		margin: 5px 10px;
		line-height: 60px;
		text-align: center;
	}
}
.rating_p{
	font-size: 22px;
}

.recommend_plate{
	margin: 20px 0;
	a{
	    font-size: 16px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    &:hover{
	    	color: @brand-warning;
	    	text-decoration: none;
	    }
	}
}
.add_plate_image_p{
	margin: 20px auto;
	font-size: 20px;
	i{
		font-size: 50px;
	}
	&:hover *{
		color: @gray-dark;
	}
}