#profilePage{
	margin-top: 110px;
}
.profile-header{
	img{
		width: 130px;
		height: 130px;
		.border-radius(50%);
	}
	.contain-image-actions{
		width: 130px;
		height: 130px;
		margin: auto;
		.border-radius(50%);
		.actions, .always_visible_action{
			.border-radius(50%);
		}
		i{
			position: absolute;
		    top: 50%;
		    font-size: 35px;
		    color: #fff;
			.translate(-50%,-50%);			
		}
		.spinner{
			top: 55px;
			height: 100%;
			z-index: 2;
			color: #fff;
			&:after{
				line-height: 130px;
				margin: auto;
			}
		}
	}
}
.profile-footer{
	background: #f6f9fd;
	text-align: center;
	padding: 20px 0;
	strong{
		display: block;
		font-weight: normal;
		font-size: 24px;
		color: @gray;
	}
	span{
		color: #a3afb7;
	}
}

.float-image-round{
    float: left;
    width: 80px;
    height: 80px;
    .border-radius(50%);
    margin-right: 15px;
}
.spanimage{ 
    line-height: 80px;
}
.items-list{
    margin-bottom: 15px;
}


.user_info_container{
	max-width: 95%;
	width: 800px;
	p{
		color: #fff;
	}
	.profile_image{
		width: 150px;
		height: 150px;
		display: block;
		margin: 10px auto; 
	}
	.row{
		margin: 10px auto;
	}
	h1{
		font-size: 20px;
		color: #fff;
		text-align: center;
		margin-top: 20px;
	}
}
.rounded_num{
	.border-radius(50%);
	width: 100px;
	height: 100px;
	border: 1px solid #fff;
	text-align: center;
	margin: 30px auto;
	position: relative;
	&.dark{
		color: @gray;
		border-color: @gray;
	}
	&.primary{
		color: @brand-primary;
		border-color: @brand-primary;
	}
	&.warning{
		color: @brand-warning;
		border-color: @brand-warning;
	}
	&.danger{
		color: @brand-danger;
		border-color: @brand-danger;
	}
	&.success{
		color: @brand-success;
		border-color: @brand-success;
	}
	&.info{
		color: @brand-info;
		border-color: @brand-info;
	}
	i{
		position: absolute;
		top: 0;
		left: 0;
		height: 100px; line-height: 100px;
		width: 100px;
		.border-radius(50%);
		color: @gray-dark;
		.opacity(0);
	    line-height: 119px;
		.transition(all ease-in-out .15s);
		background: #fff;
		font-size: 66px;
	}
	.number{
		line-height: 100px;
	    font-size: 26px;
	    color: #fff;
	    &.warning{
	    	color: @brand-warning;
	    }
	}
	&:hover{
		i{
			.opacity(1);
		}
	}
	&.foodcoin{
		span{
			line-height: 85px;
		}
	}
}
.foodcoint_text{
	color: @brand-warning;
	font-size: 12px !important;
	text-transform: uppercase;
	position: relative;
	top: -68px;
}
.change_cover{
	position: absolute !important;
    top: 100% !important;
    left: 30px !important;
}
.minimal_tabs{
	ul{
		text-align: center;
		li{
			display: inline-block;
			border-bottom: 3px solid @gray-light;
			width: 150px;
			.transition(all ease-in-out .2s);
			&:hover{
				border-color: @gray;
			}
			&.active{
				border-color: @brand-primary;
			}
			padding: 10px 20px;
			max-width: 160px;
			a{
				display: block;
				text-decoration: none;
			}
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
.notifications_list{
	width: 800px;
    max-width: 100%;
    margin: 20px auto;
}
.single_notification{
	border: none;
	.media-left{
		padding-right: 30px;
	}	
	i{
		font-size: 40px;
	}
}
.list_span{
	.transition(all ease-in-out .2s);
	&:hover{
		background: @gray-light;
	}
	&.active{
		background: @brand-primary;
		color: #fff;
	}
	padding: 2px 6px;
	margin: 2px;
}


.reservation_block{
	.icons_block{
		margin-top: 10px;
		margin-bottom: 20px;
		i{
			font-size: 40px;
			display: block;
			margin: auto;
		}
		.num{
			font-size: 22px;
		}
	}
}

.marginated_vertical{
	margin: 20px auto;
}

.profile_tabs{
	text-align: center;
	li{
		display: inline-block;
		margin: 5px 18px;
		a{
			text-decoration: none;
			i{
				color: @gray-light;
				font-size: 30px;
				&:hover{
					color: @gray;
				}
				
			}
		}
		&.active{
			a{
				i{
					color: @brand-primary !important;
				}
			}
		}
	}
}

// set z-index for dialog google autocomplete
.pac-container{
	z-index: 9999999;
}



.update_user_avatar_image{
	position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
    input{
    	position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    .opacity(0);
	    cursor: pointer;
	    z-index: 2;
    }
    .upload_overlay{
    	.transition(all ease-in-out .15s);
    	position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    .border-radius(50%);
	    background: #d6d6d6;
	    .opacity(0);
	    cursor: pointer;
	    z-index: 1;
	    text-align: center;
	    i{
	    	color: #fff;
	    	font-size: 23px;
	    	line-height: 150px;
	    }
    }
    &:hover{
    	.upload_overlay{
    		.opacity(0.8);
    	}
    }
}
.upload_cover_btn{
	background: none;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    .transition(all ease-in-out .15s);
}
.upload_parent{
	&:hover{
    	.upload_cover_btn{
    		background: #fff;
    		color: @brand-primary;
    	}
    }
}

.grey_bg{
	background-color: #f4f4f4;
	min-height: 40vh;
}
.section_title{
	margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 21px;
}
/**
*
* Dashboard
*
**/
.dashboard_list{
	li{
		background: #fff;
		.border-radius(5px);
		margin: 20px 0;
		overflow: hidden;
	}
	.element_header{
		padding: 10px;
	}
	.profile_image{
		width: 50px;
	    height: 50px;
	    .border-radius(50%);
        margin-bottom: 9px;
	}
	.line_height_header_text{
		line-height: 45px;
	}
	.date{
		color: @gray;
		font-size: 11px;
	}
	.small_round_image{
		width: 40px;
	    height: 40px;
	    .border-radius(50%);
	    position: relative;
    	top: -17px;
	}
	.action_feedback{
		text-align: center;
		i{
			color: @gray-light;
			width: auto !important;
			margin-right: 10px;
			font-size: 39px;
		}
	}
	.element_body{
		.full{
			width: 100%;
		}
		.rating{
			color: @brand-warning;
			.rating_p{
				color: @brand-warning;
				width: 50px;
				height: 50px;
				margin: 10px;
				line-height: 48px;
				border: 2px solid @brand-warning;
				.border-radius(50%);
			}
		}
		
	}


}
.recommendation_answers{
	.action_texts{
		margin: 10px 15px;
		.open_comments{
			color: #d2d2d2;
    		font-size: 22px;
    		&:hover{
    			color: @gray;
    			text-decoration: none;
    		}
		}
		.open_recommend{
			line-height: 32px;
    		text-transform: uppercase;
    		color: #d2d2d2;
    		&:hover{
    			color: @gray;
    			text-decoration: none;
    		}
		}
	}
}

.answers_request_list{
	margin: 10px;
	.answers_image{
		float: left;
		margin: 5px;
		&.small_image_answer{
		    width: 25px;
    		height: 25px;
    		border: 2px solid #fff;
		}
	}
	.main_link{
	    line-height: 50px;
	    color: @brand-warning;
	    &:hover{
	    	color: @gray;
	    	text-decoration: none;
	    }
	}
	.answer_user{
        margin: 0 28px;
	    position: relative;
	    top: -23px;
	    margin-bottom: -50px;
	    a{
	    	line-height:33px;
	    }
	    .plate_comment{
	    	position: relative;
	        top: -20px;
    		left: 30px;
	    }
	}
}

.publish_recommendation_request{
	margin: 0 15px;
}
.search_restaurant_group{
	position: relative;

}
.search_restaurant_button{
	position: absolute;
	top: 2px;
	color: #fff;
	right: 3px;
	background: none;
    border: none;
    font-size: 20px;
    height: 38px;
    width: 38px;
    text-align: center;
    border-radius: 50%;
    .transition(all ease-in-out .3s);
    &:hover{
    	background-color: @brand-primary;
    }
    i{
    	width: 28px !important;
    	font-size: 20px;
    }

}
.confirm_searched{
	border: 1px solid @brand-primary;
	color: @brand-primary;
	background: none;
	&:hover{
		color: #fff;
		background: @brand-primary;
	}
}
.delete_searched{
	border: 1px solid @brand-danger;
	color: @brand-danger;
	background: none;
	&:hover{
		color: #fff;
		background: @brand-danger;
	}
}
.restaurant_search_input{
	line-height: 42px;
    width: 100%;
    .border-radius(20px);
    outline: none;
    border: none;
    background: #d6eef3;
    padding: 0 10px;
}
.restaurant_search_message{
	background: #d6eef3 !important;
    border: none !important;
}
.ask_recommendation_form{
	margin: 30px;
    background: #fff;
    padding: 30px;
    .border-radius(5px);
}
.plate_comment{
	border-left: 3px solid @gray-light;
	margin-left: 10px;
	padding-left: 10px;
	margin-top: 18px;
}

.action_feedback{
	display: none;
}
.not_found_message{
	margin: 30px auto;
	margin-bottom: 0;
	text-align: center;
}
.white_contain{
	background: #fff;
	.border-radius(5px);
	padding: 10px;
	margin-top: 20px;
}
.favourite_list_list{
	margin-top: 20px;
	li{
		padding: 10px 0;
	}
	a{
		font-size: 14px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    i{
	    	line-height: 28px;
	    }
	}
	.active{
		a{
			color: @brand-primary;
		}
	}
}
.favourite_lists{
	margin-top: 5px;
}
.plate_share{
	margin: 20px 20%; 
    border-top: 3px solid #f4f4f4;
    padding-top: 15px;
}

.reservation_block{
	background: #fff;
	.border-radius(5px);
	margin: 20px 0 !important;	
	padding: 20px 10px;
	.icons_block {
		.num{
			&.normal{
				font-size: 14px;
			}
		}
	}
}

.notifications_list{
	li{
	    margin-bottom: 5px; 
	    .border-radius(5px);
	}
} 
.marginated_bottom{
	padding-bottom: 20px;
}


.reservation_icons_block{
	i{
		font-size: 50px;
	}
	.num{
		line-height: 50px;
    	font-size: 40px;
    	margin-top: 6px;
    	&.normal{
    		margin-top: 12px;
    	    line-height: 153%;
    		font-size: 15px;
    	}
	}
}

.invite_friends{
	margin: 30px 0;
	a{
		i{
			font-size: 28px;
    		margin-right: 33px;
		}
		&:hover{
			i{
				&.fb{
					color: @color-fb;
				}
		        &.tw{
		        	color: @color-tw;
		        }
		        &.tr{
		        	color: @color-tr;
		        }
		        &.pi{
		        	color: @color-pi;
		        }
		        &.yt{
		        	color: @color-yt;
		        }
		        &.in{
		        	color: @color-in;
		        }
		        &.li{
		        	color: @color-li;
		        }
		        &.gp{
		        	color: @color-gp;
		        	}
			}
		}
	}
}