.recommendation_answers{
	.info_and_button{
		background: @gray-lighter;
		padding: 5px 10px;
	}
	.answer_info_block{
		margin-bottom: 20px;
	}
	.small_user_image{
		width: 40px;
		height: 40px;
		display: inline-block;
		margin: 5px auto;
	}
	.answer_user_info_block{
		margin-top: 20px;
		background: rgba(0, 180, 204, 0.07);
		padding-top: 10px;
		padding-bottom: 10px;
	}
}