#restaurantPage{
	//min-height: 100vh;	
	background: #fff;
	p{
		margin-bottom: 2px;
	}
	h3{
		color: @gray-dark;
		text-transform: uppercase;
		font-size: 14px;
	}
    .restaurant-grid-container{
        .restaurant{
            h3{
                color: #fff;
            }
        }
    }
	.web_link{
		color: @gray;
	}
	.mainContainer{
		position: fixed;
		top: 0; left: 0;
		width: 100%; height: 60vh;
		min-height: 400px;
	    overflow: hidden;
		.overlay{
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0,.4);
			z-index: 1;
			.transition(all ease-in-out .3s);
		}
		.virtualTourContainer{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			.close-tour-btn{
				position: absolute;
			    top: 19px;
			    left: 200px;
			}
		}
		.imageContainer{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
		}
		&.active{
			height: 600px;
			.overlay{
				top: -100%;
			}
		}
		.claim_block{
			text-align: right;    
		    position: absolute;
		    bottom: 178px;
		    width: 100%;
		    color: #fff;
		    z-index: 1;
		    h3{
		    	color: #fff;
		    	a{
		    		color: #fff;
		    		&:hover{
		    			text-decoration: none;
		    			color: #fff;
		    		}
		    	}
		    }
		    .container{
		    	padding-right: 34px;
		    }
		}
	}
	.pageContent{
		position: relative;
		margin-top: 40vh;
		z-index: 2;
		.transition(all ease-in-out .3s);
		&.slideDown{ // classe da aggiungere quando mostro il virtual tour
			margin-top: 600px;
			background: #fff;
			h1{
				color: @gray-dark;
				small{
					color: @gray-dark;
				}
			}

		}
		.pageContentBg{// per il parallax lascio un margine in alto in cui mettere il titolo
			background: #fff;
		    margin-top: 0;//30px;
		    width: 100%;
		    border-bottom: 1px solid @gray-light;
	        position: relative;
    		top: 0;
    		padding-top: 14px;
    		padding-bottom: 0;
		}
		h1{
			font-size: 40px;
			color: #fff;
			font-weight: bold;
			small{
				display: block;
				color: #fff;
				span{
					/*background: @brand-primary;
					color: #fff;
					    padding: 4px 18px;*/ 
					    font-size: 13px;
					    text-transform: uppercase;
					    letter-spacing: 2px;
				}
			}
		}
		.location_info{
			margin-top: 10px;
			p{
				margin: 0 0 4.5px;
			}
		}
		.restaurant-social{
			margin-top: 7px;
			a{
				display: inline-block;
				&:first-child{
					margin-left: -10px;
				}
				width: 30px; height: 30px;
				line-height: 30px;
				margin-right: 1px;
				text-align: center;
				i{
					color: @gray;
					.opacity(.7);
					line-height: 30px;
					font-size: 18px;
					.transition(all ease-in-out .15s);
				}
				&:hover{
					i{
						.opacity(1);
						&.fb{
							color: @color-fb;
						}
				        &.tw{
				        	color: @color-tw;
				        }
				        &.tr{
				        	color: @color-tr;
				        }
				        &.pi{
				        	color: @color-pi;
				        }
				        &.yt{
				        	color: @color-yt;
				        }
				        &.in{
				        	color: @color-in;
				        }
				        &.li{
				        	color: @color-li;
				        }
				        &.gp{
				        	color: @color-gp;
				        	}
					}
				}
			}
		}
		.semititle{
			margin-top: 12px;
		    font-weight: bold;
		    font-size: 16px;
		    color: @gray-dark;
		    text-transform: uppercase;
		}
		.bordered-left{
			border-left: 1px solid;
    		height: 90px;
    		margin-top: 12px;
		}
		hr.full{
			position: absolute;
			width: 100%;
			left: 0;
		}
		
		.big_text{
			line-height: 180%;
    		font-size: 13px;    		
		}
		.description{
			height: 70px;
			overflow: hidden;
			.transition(height ease-in-out .3s);
			&.open{
				height: auto;
			}
		}
		.open_description{
			position: relative;
		    top: -28px;
		    display: block;
		    text-align: center;
		    background: rgba(237, 237, 237, 0.8);
		    cursor: pointer;
    		text-transform: uppercase;
        	font-size: 14px;
        	padding-top: 25px;
    		margin-bottom: -24px;
        	&:hover{
        		text-decoration: none;
        	}
		}
	}
	.grey_content{
		background: lighten(@gray-lighter,3%);
		padding: 30px 0;
	}
	.restaurant_element{
		margin: 25px 0;
		padding-top: 25px;
		border-top: 1px solid @gray-light;
		&.cards{
			text-align: center;
		}
	}
	.list-title{
		text-transform: uppercase;
		color: @gray-dark;
		font-weight: bold;
	}
	.left_descriptor{
		//text-align: right;
	}


	.reccomendation{
		.add_to_mine{
		    background: rgba(0,0,0,.8);
		    .half{
		    	display: inline-block;
			    width: 49%;
			    margin: 0;
			    line-height: 40px;
			    color: #fff;
    			text-align: center;
    			&:first-child{
    				border-right: 1px solid @gray-light;
    			}
		    }
		}
		.cont{
			/*margin-top: 21px;*/
			position: relative;
		    min-height: 108px;
		}
		.form-content{
			border: 1px solid @gray-light;
			background: #fff;
		}
		margin-top: -14px;
		margin-bottom: -1px;
		width: 350px;		
		.transition(all ease-in-out .3s);
		&.active{
			position: fixed;
			top: 104px;
			z-index: 3;
		}
		.cont{
			padding: 0 0 20px 0;
			background: #fff;
		}
		h3{
		    margin-top: 9px;
    		margin-bottom: 30px;
    		text-align: center;
		}
		form{
			select{
				padding: 10px;
				border: 1px solid @gray-light;
			    width: 25.4%;
			    line-height: 14px;
			    height: 38px;
			    padding: 5px 10px;
			    display: inline-block;
			    float: right;
			    margin-bottom: 0;

			}
		}
		.btn{
			margin: 12px auto 0;
		}
		.form_header{
			//background: @brand-primary;
			padding: 20px 20px 10px;
			*{
			//	color: #fff;
			}
		}
		.semi-date{
			width: 36%;
			padding: 5px 10px;
		    line-height: 14px;
		    height: 38px;
		    border-color: @gray-light;
		    margin-bottom: 0;
		}
		.top_community_box{
			width: 100%;			
			.col-xs-4{
				padding-top: 6px;
				padding-bottom: 10px;
				&.center_block_community{
					border-left: 1px solid @gray-light;
					border-right: 1px solid @gray-light;
				}
				&:hover{
					background: @gray-lighter;
					.transition(all ease-in-out .15s);
				}
			}
			border-bottom: 1px solid @gray-light;
			i{
				font-size: 25px;
    			height: 36px;
    			&.pad_t{
    				padding-top: 5px;
    			}
				display: block;
			}
			span{

			}
		}
		.raccomanda_buttons{
			position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    a{
		    	display: block;
			    width: 33.3333333333333333%;
			    text-align: center;
			    line-height: 40px;
			    border-top: 1px solid @gray-light;
			    border-right: 1px solid @gray-light;
			    margin: 0 !important;
			    text-transform: uppercase;
			    float: left;
			    &:last-child{
			    	border-right: none;
			    }
			    .transition(all ease-in-out .3s);
			    &:hover{
			    	background: @gray-lighter;
			    	text-decoration: none;
			    }
			    &.list-container{
			    	position: relative;
					ul{
						position: absolute;
						background: #fff;
						z-index: 2;
					    top: 50px;
					    padding: 5px 15px;
					    font-size: 12px;
					    width: 160px;
					    left: -43px;
					    border: 1px solid @gray-light;
						.border-radius(5px);
				    	display: none !important;
				    	&.open{
				    		display: block !important;

				    	}
				    	li{
				    		border-bottom: 1px solid @gray-lighter;
				    		&:last-child{
				    			border-bottom: none;
				    		}
				    	}
				    }
			    }
				    
		    }
		}
		.btn-block{
		    margin-top: -8px;
    		margin-bottom: 6px;
		}
	}
	.wishlist_recommend{
		margin-top: 30px;
		i{
			font-size: 40px;
			margin: 0 10px;
			.transition(all ease-in-out .2s);
			&:hover{
				color: @gray;
			}
			&.fa{
				position: relative;
				top: -6px;
				color: @brand-primary;
				&:hover{
					color: @brand-warning;
				}
			}
		}
	}
	.white_content{
		background: #fff;
		padding: 30px 0;
	}
	.restaurant_gallery{
		.right-border{
			div:last-child{
				border-right: 1px solid #fff;
			}
		}
		.right-padding{
			div:last-child{
				padding-right: 2px;
			}
		}
		.col-sm-4, .col-sm-6, .col-sm-3{
			margin-bottom: 1px;
			padding: 1px;
			overflow: hidden;
			img{
				width: 100%;
				min-height: 100%;
			}
			position: relative;
		}
		.col-sm-6{
			//height: 300px;
		}
		.col-sm-4{
			//height: 250px;
		}
		.col-sm-3{
			//height: 200px;
		}
		.overlay{
			position: absolute;
			top: 0; left: 0;
			height: 100%;
			width: 100%;
			background: rgba(0,0,0,.6);
			p{
				margin-top: 14%;
			    font-size: 45px;
			    text-align: center;
			    color: #fff;
			}
		}		
	}
	.menu_container{
		.menu-titles{
			li{
				color: @gray-dark;
				display: inline-block;
				padding: 5px 15px;
			    text-transform: uppercase;
			    font-size: 14px;
			    letter-spacing: 2px;
    			.transition(all ease-in-out .1s);
    			margin-right: 10px;
				&.active{
					background: @brand-primary;
					color: #fff;
				}
			}
		}
		> .menu{
			margin-top: 30px;
			li{
				display: inline-block;
				width: 45%;
				height: 90px;
				&:first-child{
					display: block;
					height: auto;
					text-transform: uppercase;
				}
			}
			.categoria-name{
				font-size: 14px;
				color: @gray;
			}	
			.left{
				width: 70%;
				float: left;
				h5{
					color: @gray;
				}
				.ingredients{
					//color: @gray-light;
					font-size: 11px;
				}
			}
			.right{
				width: 25%;
			    float: right;
			    vertical-align: baseline;
			    padding-top: 32px;
			    p{
			    	color: @gray;
			    }
			}
		}
		
	}

	.reservation-form{
		background: #fff;
		&.active{
			position: fixed;
			top: 241px;
			z-index: 2;
		}
		.form-content{
			padding-top: 20px;
			border: 1px solid @gray-light;
		}
		.reservation-header{
			background: @brand-primary;
			color: #fff;
			padding: 10px 24px;
			
				text-transform: uppercase;
				text-align: center;
				font-size: 14px;
			
		}

		width: 350px;		
		.transition(all ease-in-out .3s);
		
		.cont{
			padding: 0 20px 20px 20px;
			background: #fff;
		}
		h3{
			font-weight: bold;
			font-size: 14px;
			color: @gray-dark;
			margin-top: 0;
		}
		form{
			input{
				float: left;
			}
			select{
				padding: 10px;
				border: 2px solid @gray-light;
			    width: 29.4%;
			    margin-left: 2%;
			    line-height: 14px;
			    height: 38px;
			    padding: 5px 10px;
			    display: inline-block;
			    float: left;
			    margin-bottom: 0;
			    background: #fff;
			    -webkit-appearance: none;
                -webkit-border-radius: 0px;
			}
		}
		.btn{
			margin: 12px auto 0;
		}
		.form_header{
			//background: @brand-primary;
			padding: 20px 20px 10px;
			*{
			//	color: #fff;
			}
		}
		.semi-date{
			width: 36%;
			padding: 5px 10px;
		    line-height: 14px;
		    height: 38px;
		    border-color: @gray-light;
		    margin-bottom: 0;
		}
		.form-control{
			display: inline-block;
		}
	}

	.claim{
		width: 350px;
		margin-top: 20px;
		p{
			font-size: 16px;
		}
	}
	.image_gallery{
		position: fixed;
		top: -100vh;
		left: 0;
		background: rgba(0,0,0,.6);
		width: 100%;
		height: 100vh;
		z-index: 11;
		overflow: hidden;
		.transition(all ease-in-out .3s);
		&.active{
			top: 0;
		}
		.image_active_container{
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img{
				.opacity(0);
				width: 800px;
				max-width: 90%;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				.translate(-50%,-50%);
				.transition(all ease-in-out .3s);
				&.active{
					.opacity(1);
				}				
			}
		}
		
		.controls{
			a{
				position: absolute;
				top: 50%;
				margin-top: -18px;
				cursor: pointer;
				text-decoration: none;
				&.left{
					left: 10px;
				}
				&.right{
					right: 10px;
				}
				&.close_gallery_icon{
					top: 10px;
					right: 10px;
					margin-top: 0;
				}
			}
			i{
				color: #fff;
				font-size: 36px;
				
			}
		}

	}
	#google_map{
		position: relative;
		height: 400px;
		width: 100%;
	}
}
.orari_dialog{
		
	dl{
		dd{
			padding-left: 115px;
		}
	}
}
.directions_return{
	font-size: 13px !important;
	padding: 10px 0;
    margin-left: -15px;
    padding-left: 11px;
	div{
		font-size: 13px !important;
	}
	border-bottom: 1px solid @gray-lighter;
}	