#searchPage{
	background: #fff;
	min-height: 100vh;
	padding-top: 72px;
	.grid_view{
		.restaurant{
			position: relative;
			overflow: hidden;
			background-position: center;
			margin: 5px 0;
			.img{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-position: center;
				background-size: cover;
			}
			//.border-radius(7px);
			.transition(all ease-in-out .3s);
			.overlay{
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				//.opacity(0);
				.transition(all ease-in-out .3s);
				z-index: 1;
				background: rgba(0,0,0,.6);
                background: -webkit-linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.9) 100%); /* Safari 5.1-6.0 */
                background: -o-linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.9) 100%); /* For Opera 11.9 to 12.0 */
                background: -moz-linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.9) 100%); /* For Firefox 3.9 to 15 */
                background: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.9) 100%); /* Standard syntax (must be last) */
			}            
			.image{
				min-height: 100%;
				width: auto;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 0;
			}
			.text{
				color: @gray;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
				    margin: 10px;
				    h3{
				    	font-size: 14px;
						text-transform: uppercase;
						margin-bottom: 0;
						a{
							text-decoration: none;
							color: #fff;
							&:hover{
								text-decoration: underline;
							}
						}
				    }
				    *{
				    	color: #fff;
				    }
				    .type{
					 	.opacity(1);
					 	text-transform: uppercase;
					 	font-size: 12px;
					 }
					 .address{
					 	display: block;
					 	color: #fff;
					 	display: none;
					 }
				.transition(all ease-in-out .3s);
			}
			&:hover{
				.scale(1.1);
				z-index: 3;
				.overlay{
					//.opacity(1);
                    background: rgba(0,0,0,.6);
                    background: -webkit-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)); /* Safari 5.1-6.0 */
                    background: -o-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)); /* For Opera 11.6 to 12.0 */
                    background: -moz-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)); /* Standard syntax (must be last) */
                }
				.text{
					h3{
						color: #fff !important;
                        
						a{
							color: #fff;
							&:hover{
								color: #fff;
							}
						}
					}
					 margin-bottom: 50px;
					 .type{
					 	.opacity(1);
					 	//color: @brand-warning;
					 }
					 .address{
					 	display: block;
					 }
				}
			}
		}
	}
	.list_view{
		.restaurant-grid-container{
			width: 100%;
			padding-left: 0;
            a, a:hover{
                text-decoration: none;                
            }
		}
		.restaurant{
			width: 100%;
			height: 100px;
			display: block;
			padding: 10px;	
			padding-left: 0;
			margin-bottom: 10px;
			.box_images{
				width: 100px;
				padding: 10px;	
			}
			.img{
				width: 150px;
			    height: 100px;
			    background-position: center;
			    background-size: cover;
			    padding: 0;
			    float: left;
			}
			.text{
			    margin-left: 165px;
			    h3{
			    	text-transform: uppercase;
			    	font-size: 16px;
			    	margin-bottom: 5px;
			    }
			    .type{
			    	display: block;
			    	text-transform: uppercase;
			    }
			    .address{
			    	display: block;
			    }
			}
		}
	}
	.pagination{
		ul{
			li{
				display: inline-block;
			    font-size: 13px;
			    width: 40px;
			    height: 40px;
			    border: 1px solid @gray-light;
			    margin: 2px;
			    line-height: 38px;
			    text-align: center;
			    &.active{
			    	background: @brand-primary;
			    	border-color: @brand-primary;
			    	color: #fff;
			    }
			}
		}
	}
	.map_container_right{
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 25%;
		padding: 0;
		#google_map{
			width: 100%;
			height: 100vh;
		}
	}
	#search_form{
		padding-left: 5px;
		margin-top: 15px;
        margin-bottom: 15px;
	}
	#view_actions{
		padding-left: 5px;
		.fa{
			font-size: 22px;
			margin-right: 10px;
			&.active{
				color: @brand-primary;
			}
		}
	}
}

.grid_view{
	.restaurant-grid-container{
		    padding: 0 5px;
	}
	&.related{
		.restaurant{
			position: relative;
			height: 150px;
			overflow: hidden;
			background-size: cover;
			margin: 10px 0;
			//.border-radius(7px);
			.transition(all ease-in-out .3s);
			.overlay{
				width: 100%;
				height: 100%;
				
				.transition(all ease-in-out .3s);
				z-index: 1;
				background: rgba(0,0,0,.6);
                background: -webkit-linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.9) 100%); /* Safari 5.1-6.0 */
                background: -o-linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.9) 100%); /* For Opera 11.9 to 12.0 */
                background: -moz-linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.9) 100%); /* For Firefox 3.9 to 15 */
                background: linear-gradient(rgba(0,0,0,0) 60%, rgba(0,0,0,.9) 100%); /* Standard syntax (must be last) */
			}
			.image{
				min-height: 100%;
				width: auto;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 0;
			}
			.text{
				color: @gray;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
				    margin: 10px;
				    h3{
				    	margin-bottom: 0;
				    	a{
				    		color: #fff;
				    	}

				    }
				    *{
				    	color: #fff;
				    }
				    .type{
					 	.opacity(1);
					 	text-transform: uppercase;
					 	font-size: 12px;
					 }
					 .address{
					 	display: block;
					 	color: #fff;
					 	display: none;
					 }
				.transition(all ease-in-out .3s);
			}
			&:hover{
				.scale(1.1);
				z-index: 3;
				.overlay{
					background: rgba(0,0,0,.6);
                    background: -webkit-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)); /* Safari 5.1-6.0 */
                    background: -o-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)); /* For Opera 11.6 to 12.0 */
                    background: -moz-linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)); /* Standard syntax (must be last) */
				}
				.text{
					h3{
						color: #fff !important;
						a{
							color: #fff;
							&:hover{
								color: #fff;
							}
						}
					}
					 margin-bottom: 50px;
					 .type{
					 	.opacity(1);
					 	//color: @brand-warning;
					 }
					 .address{
					 	display: block;
					 }
				}
			}
		}
	}
	
}