.user_list_with_avatar{
	li{
		&.with_bg{
			background: #fff;
    		padding: 10px 20px;
		    border-bottom: 1px solid #e4e4e4;
		    border-right: 1px solid #e4e4e4;
		    margin-bottom: 3px;
		}
		&.selectable{
			.transition(all ease-in-out .15s);
			&:hover{
				background: #fffebf;
				.scale(1.03);
			}
		}
		.image_avatar{
			display: inline-block;
		    width: 80px;
		    float: left;
		    img{
		    	max-width: 100%;
		    	.border-radius(50%);
		    }
		}
		.content_element{
		    width: 75%;
		    float: left;
		    margin-left: 10px;
			h3{
			    margin-bottom: 1px;
			}
			p{
				color: darken(@gray-light,5%);
			}
		}
	}
}