#staticPage{
	background: #fff;
	&.full-page-view{
		width: 100%;
		max-width: 100%;
		margin-top: 0 !important;
		padding-top: 110px;
		padding-bottom: 110px;
		margin: 0;
	}
	.big-title-inside{
	    text-align: center;
    	margin-top: 70px;
    	&:after{
    		display: block;
    		content: "";
    		background: @brand-primary;
    		height: 3px;
    		width: 100px;
    		margin: auto;
    		margin-top: 20px;
    	}
	}
	.full-height{
		min-height: 100vh;
	}
	.overlay{
		position: absolute;
		z-index: 0;
		height: 100%;
		width: 100%;
		top: 0; left: 0;
		background: rgba(0,0,0,.8);
		&.medium{
			background: rgba(0,0,0,.6);
		}
		&.light{
			background: rgba(0,0,0,.4);
		}
	}
	.grey_bg{
		background: #F9F9F9;
	}
	section{
		padding: 10vh 0;
		display: block;
		position: relative;
		width: 100%;
		min-height: 500px;
		&.bg_image{
			background-size: cover;
			background-position: center;
		}
		&.video_section{
			padding: 0;
			overflow: hidden;
			video{
				min-height: 100vh;
			    margin: auto;
			    text-align: center;
			    min-width: 100vw;
			    top: -3vh;
			    position: absolute;
			    z-index: 0;
			}
			&.playing{
				.section_content_to_hide, .overlay{
					display: none;
				}
			}
			.ng-video-items{
				height: 100vh;
			}
		}
		h1,h2,h3{
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		h1{
			font-size: 40px;
		}
		h2{
			font-size: 30px;
		}
		h3{
			font-size: 18px;
			margin-bottom: 24px;
		}
		.section-title{
			margin-bottom: 50px;
			&.with_bottom_row{
				&:after{
					display: block;
					width: 200px;
					height: 3px;
					background: @brand-primary;
					content: "";
					margin: 20px auto;
				}
			}
		}
		.white-text{
			color: #fff;
		}
		.big-text{
		    font-size: 22px;
		}
		.center{
			text-align: center;
		}
		.right{
			text-align: right;
		}
		.left{
			text-align: left;
		}
		.padding-big-v{
			padding-top: 10vh;
			padding-bottom: 10vh;
		}
		.padding-medium-v{
			padding-top: 5vh;
			padding-bottom: 5vh;
		}
		.vcenter_parent{
			position: relative;
		}
		.vcenter_child{
			position: absolute;
			top: 50%;
			left: 50%;
			.translate(-50%,-50%);
		    padding: 0 4vw;
		}
		.big_width{
			width: 1200px;
			max-width: 100%;
		}
		.medium_width{
			width: 800px;
			max-width: 100%;
		}
		.small_width{
			width: 400px;
			max-width: 100%;
		}
		.supericon{
			font-size: 300px;
		    margin: 50px 0 0;
    		display: block;
		}
		p{
			font-size: 16px;
			line-height: 200%;
		}
		.mediumicon{
			font-size: 90px;
			display: block;
		}
	}
	ol, ul{
		font-size: 14px;
	    line-height: 200%;
	}	
}
.icon-services{
	text-align: center;
	i{
		font-size: 90px;
	}
}
.foodcoin-container{
	i{
		font-size: 90px;
		text-align: center;
	    display: block;
	    margin: 95px auto;
	}
	.food-badge{
		width: 200px;
	    height: 200px;
	    display: block;
	    margin: auto;
	    text-align: center;
	    background: @brand-primary;
	    border-radius: 50%;
	    line-height: 200px;
	    margin: 45px auto;
	    .plus{
	    	line-height: 200px;
	    	color: #fff;
	    	font-size: 140px;
	    }
	    .txt{
	    	color: @brand-primary;
	    	font-size: 65px;
    		display: block;
    		line-height: 30px;
	    }
	}
}

.list-in-image{
    width: 450px;
    max-width: 100%;
    margin: auto;
    font-size: 14px;
    color: #fff;
}
.opacity_low{
	.opacity(.3);
}


.team{
	.team_member{
		padding: 22px;
		.role{
			font-size: 14px;
		    margin-top: -20px;
		    margin-bottom: 28px;
		    &:after{
		    	content:"";
		    	margin-top: 12px;
		    	display: block;
		    	width: 80px;
		    	height: 2px;
		    	background-color: @gray-light;
		    }
		}
		p{
			font-size: 13px !important;
		}
	}
}


