.title_stat{
	margin-bottom: 35px;
}
.stat_block{
	padding: 50px 0;
    text-align: center;
    span{
    	font-size: 80px;
    }
    h4{
	    text-transform: uppercase;
	    font-size: 12px;
	    letter-spacing: 2px;
	    margin-top: -10px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 801px){
	.stat_block{
		span{
	    	font-size: 40px; 
	    }
	}
}