.angular-tagger {
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 2px;
  min-width: 100px;
  max-width: 300px;
}
.angular-tagger__holder {
  display: inline-block;
  max-width: inherit;
}
.angular-tagger__wrapper {
  vertical-align: middle;
  max-width: inherit;
}
.angular-tagger__tag {
  background: #571e93;
  padding: 5px;
  margin: 1px;
  display: block;
  color: white;
  border-radius: 2px;
  word-wrap: break-word;
}
.angular-tagger-tag__delete {
  cursor: pointer;
}
.angular-tagger__input {
  border: none;
  background: none;
  outline: none;
  width: auto;
  min-width: 1px;  
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 1px 0;
  vertical-align: middle;
  word-wrap: break-word;
  max-width: inherit;
}
.angular-tagger__input:empty:not(:focus):before {
  content: attr(placeholder)
}
.angular-tagger__hook {
  width: 100%;
  clear: both;
  height: 0;
  position: relative;
}
.angular-tagger__matching {
  position: absolute;
  z-index: 10;
  min-width: 100px;
  width: 100%;
  top: 0px;
  left: -1;
  border: 1px solid #eee;
  padding: 0;
  margin: 0;
  background: #fff;
}
.angular-tagger__matching-item {
  list-style: none;
  padding: 3px 5px;
  background: #fff;
  word-wrap: break-word;
}
.angular-tagger__matching-item:hover {
  cursor: pointer;
}
.angular-tagger__matching-item--selected {
  background: #571e93;
  color: #fff;
}

.angular-tagger--single .angular-tagger__tag {
  display: block;
}
.angular-tagger--single .angular-tagger__holder {
  display: block;
}
.angular-tagger--single .angular-tagger-tag__delete {
  float: right;
}
.angular-tagger{
        border: none;
        border-bottom: 2px solid #333;
      }
      .angular-tagger__tag{
        background: @brand-primary;
      }
      .angular-tagger__matching-item--selected{
        background: @brand-primary;
      }