#topbar{
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	&.col-md-9{
		.logo{
			transform: translateX(-120px);
			-webkit-transform: translateX(-120px);
			-ms-transform: translateX(-120px);
			/*left: 120px;*/
		}
		.topbar-navigation{
			&.lang{
				display: none !important;
			}
		}
	}
	&.col-md-9{
	    width: 75%;
	}
	min-height: 150px;
	padding: 30px 0;
	.transition(all ease-in-out .3s);
	.logo{
		/*height: 40px;
		width: auto;*/
		transition: all .3s;
		position: absolute;
	    left: 50%;
	    width: 100px;
	    top: 8px;
	    .translate(-45px,0);
	}
	.logo-left{
		width: 238px;
		float: left;
	}
    .logo-center{
        position: absolute;
        left: 50%;
        .translate(-50%,0);
        height: 60px;
    }
	.topbar-navigation{
		text-transform: uppercase;
		color: #fff;
		list-style: none;
		padding-left: 0;
		li{
			display: inline-block;
			line-height: 50px;
			margin: 0 8px;//20px;
			&:hover{
				color: @brand-primary;
			}
			&.no_b:hover{
				color: #fff !important;
			}
			&.hide_sm{
				display: inline-block;
			}
			&.show_sm{
				display: none;
			}
			a.btn{
				padding: 5px 7px;
			}
		}

	}
	.btn{
		.transition(all ease-in-out .3s);
		.box-shadow(none);
		border: none;
	}
	a{
		color: #fff;
		.transition(all ease-in-out .3s);
		&:hover{
			text-decoration: none;
			color: @brand-primary;
		}
	}

	&.fixed, &.blue{
		position: fixed;
		min-height: 60px;
		background: @brand-primary;
		padding: 16px 0;
		.container-fluid{
			padding-left: 15px;
		}
        .logo{
            //height: 40px;
            top: 8px
        }
        .logo-center{
            height: 45px;
        }
		.topbar-navigation{
			margin-bottom: 0;
			li{
				line-height: 40px;

				a{
					border-bottom: 1px solid @brand-primary;
				}
				&:hover{
					color: #fff;
					a{
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
		#dropdown-user-menu{
			img, .user-image-container-topbar{
				width: 40px;
				height: 40px;
			}
			img{
				position: relative;
    			top: -6px;
			}
			> li {

			}
			li > ul{
				li{
					a{
						border-bottom: none;
					}
					&:first-child{
						border-bottom: 1px solid @gray-light;
					}
				}
			}
			li:hover ul{

			}
		}
		.dropdown_menu_el{
			padding: 3px 13px;
		}
	}
	#dropdown-user-menu{

		img, .user-image-container-topbar{
			width: 60px;
			height: 60px;
			.border-radius(50%);
			    margin-bottom: -10px;
			outline: none;
			overflow: hidden;
		}
		img{
			position: relative;
    		top: -10px;
		}
		.user-image-container-topbar{
			background-size: contain;
    		background-repeat: no-repeat;
		    display: inline-block;
    		background-position: center;
		}
		> li {
			position: relative;
		    text-align: right;
		    float: left;
		}
		li > ul{
			width: 227px;
			position: absolute;
			right: 0;
			top: 60px;
			background: #fff;
			.border-radius(5px);
			padding-left: 0;
			li{
				display: block;
				color: @gray;
				line-height: 30px;
				.transition(all ease-in-out .3s);
				&:first-child{
					line-height: 40px;
					border-bottom: 1px solid @gray-light;
				}
				&:last-child{
				    margin-bottom: 7px;
				}
				a{
					color: lighten(@gray,10%);
					display: block;
					.transition(all ease-in-out .3s);
					&:hover{
						color: darken(@brand-primary,10%);
					}
				}
			}
		}
	}
}
#topbar.fixed .logo, #topbar.blue .logo{
	width: 100px;
	/*.translate(-125px,0);*/
}
@media (min-width: 1200px){
	#topbar{
		&.col-md-9{
			.logo{
				transform: translateX(-45px);
				-webkit-transform: translateX(-45px);
				-ms-transform: translateX(-45px);
				}
			}
		}
}
@media screen and (min-width: @screen-sm) and (max-width: @screen-md){
	#topbar{
		&.col-md-9{
			.logo{
				top: 13px !important;
			}
		}
	}
}
@media (min-width: @screen-md){
	#topbar{
		.logo{
			top: 25px
		}
	}
}
@media (max-width: @screen-sm){
	#topbar{
		.logo{
			display:none!important;
		}
		.logo-left{
			display: block;
		    margin: 0 auto;
		    float: none!important;
		}
	}
}
@media screen and (max-width: @screen-md){
	#topbar.col-md-9{
		width: 100%;
	}
	#topbar {
		.logo{
			width: 100px;
			.translate(-75px, 8px);
		}
		&.fixed, &.blue{
			.logo{
				width: 150px;
				.translate(-75px, 0);
			}
		}
		&.col-md-9{
			.logo{
				.translate(-75px, 0);
				left: 50%;
				top: 9px;
			}
		}
	}

}