.widget_reservation{
	.logo_img{
		height: 30px;
		width: auto;
	}
	.reservation-header{
		text-align: center;
		font-size: 18px;
		text-transform: uppercase;
		padding: 16px;
		background: @brand-primary;
		color: #fff;
	}
	i{
		font-size: 32px;
	    text-align: center;
	    display: block;
	}
	.send_button{
	    a{
    	    margin: 20px 3px 0 3px;
    		width: auto;
	    }
	}
}